.author {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: spacer("4x");

  .author__details {
    margin-left: spacer("2x");
    flex: 1 1 0;

    h4 {
      margin: 0;
    }

    span {
      font-size: $font-size-sm;
      margin: spacer("1x") 0;
      display: block;
      color: $gray-dark;
    }
  }

  img {
    width: 48px;
    height: 48px;
  }
}

.author._testimonial {
  padding: spacer("6x");

  img {
    width: 74px;
    height: 74px;
  }
}