.cover {
  position: relative;
  background: #201f20 no-repeat;
  background-size: cover;
  color: $white;
  padding: 40px 0 64px;
  text-align: center;
  @include font-smoothing();
  @include media-breakpoint-up(lg) {
    text-align: left;
    padding-top: 0;
  }

  nav {
    z-index: 5;
  }

  .cover__content {
    padding: 80px 0;
    @include media-breakpoint-up(sm) {
      flex-flow: row;
    }
  }

  .cover__title {
    padding: 0;
    max-width: 100%;
    margin-bottom: spacer("2x");
  }

  .translate {
    font-size: $font-size-sm;
    margin: 0;
  }
}

.cover._cover-index-page {
  background-image: url("/static/v2/img/pages/index/bg-main-page.jpg");
}

.cover._gray-gradient {
  background: linear-gradient(to right, $gray-dark, $gray-darker);
}

.cover._green-gradient {
  background: linear-gradient(to right, $teal, $blue);
}

.cover__title {
  padding: 40px 0 0;
  max-width: 900px;
  @include media-breakpoint-up(lg) {
    font-size: 3.5rem;
  }
}

.cover__text {
  margin-bottom: 40px;
  max-width: 900px;
}