$input-bg:                              $gray-lighter !default;
$input-disabled-bg:                     $gray-disable-dark !default;

$input-color:                           $gray-darker;
$input-border-color:                    $gray-lighter;
$input-border-color-hover:              darken($gray-lighter, 10%);
$input-border-width:                    $input-btn-border-width !default;
$input-box-shadow:                      inset 0 1px 1px rgba($black, .075) !default;

$input-border-radius:                   $border-radius !default;
$input-border-radius-lg:                $border-radius-lg !default;
$input-border-radius-sm:                $border-radius-sm !default;

$input-focus-bg:                        $white !default;
$input-focus-border-color:              $input-border-color-hover;
$input-focus-color:                     $input-color !default;
$input-focus-width:                     $input-btn-focus-width !default;
$input-focus-box-shadow:                $input-btn-focus-box-shadow !default;

$input-placeholder-color:               $gray-dark !default;
$input-plaintext-color:                 $body-color !default;

$control-bg:                            $gray-lighter;
$control-bg-hover:                      darken($gray-lighter, 20%);
$control-checked-bg:                    $gray-dark;
$control-disabled-bg:                   $gray-disable-light;
$control-color:                         $black;
$control-border-width:                  2px;
$control-border-color:                  darken($gray-lighter, 10%);

$input-height-border:                   $input-border-width * 2 !default;

$input-transition:                      border-color .15s ease-in-out;


// Form validation
$form-feedback-font-size:           $font-size-sm !default;
$form-feedback-color:               $white;
$form-feedback-valid-color:         green;
$form-feedback-invalid-color:       $red;

@import "components/_forms/file-input";
@import "components/_forms/inputs";
@import "components/_forms/checkbox";
@import "components/_forms/radio-btn";
@import "components/_forms/select";

.ui.form {
  margin-bottom: spacer("10x");
  overflow: hidden;
  border: $border-width solid $gray-lighter;
  background: $white;
  border-radius: $border-radius-lg;
  .form-body {
    padding: 0 spacer("8x");
  }
  .field {
    margin-bottom: spacer("6x");
    &:last-child {
      margin-bottom: spacer("10x");
    }
  }
  .form-section {
    margin-bottom: spacer("6x");
    .form_title._subtitle {
      padding: 0;
    }
    &::after {
      content: "";
      margin: spacer("2x") -#{spacer("8x")};
      border-top: $hr-border-width solid $gray-disable-light;
      display: block;
    }
  }

  label {
    display: block;
    font-size: $font-size-content-base;
    font-weight: $font-weight-normal;
    vertical-align: top;
  }

  .form_title {
    padding: spacer("8x") spacer("8x") 0;
    margin-bottom: spacer("8x");
    h2, h3 {
      margin: 0;
    }
    p {
      margin: spacer("1x") 0 0 0;
    }
    &.__inverse {
      padding: spacer("8x");
      background: $gray-dark;
      color: $white;
    }
    &._subtitle {
      padding: 0;
      margin-bottom: spacer("6x");
    }
  }
  &.__no-border {
    border: none;
    border-radius: 0;
  }
}

.title-label {
  font-size: $font-size-content-base;
  margin-bottom: spacer("4x");
}

.ui.form.survey {
  .survey-label{
    font-size: $h3-font-size;
    font-weight: $font-weight-light;
    margin-bottom: spacer("4x");
  }
}
