@import "bootstrap/scss/grid";

._dark {
  background: $gray-lighter;
}

.page-content {
  padding-top: 80px;
  padding-bottom: 2rem;
  @include media-breakpoint-up(lg) {
    padding-top: 40px;
  }
}

.content-center{
  justify-content: center;
}

.container.container_mobile-wrapper {
  @include media-breakpoint-down(xs) {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    &.page-content {
      padding-top: $navbar-mobile-height;
    }
    .row {
      margin: 0;
      [class^="col-"] {
        padding: 0;
      }
    }
    .form {
      border: none;
      border-radius: 0;
      .form-body {
        padding: 0 spacer("4x");
      }
    }
  }
}