@import "bootstrap/scss/grid";

._dark {
  background: map_get($theme-colors, "dark");
}

._light {
  background: map_get($theme-colors, "light");
}

.page-content {
  padding-top: spacer("10x");
  padding-bottom: spacer("10x");

}

.content-center {
  justify-content: center;
}

.container, .container.page-content {

  &.p-xs-0 {
    @include media-breakpoint-down(xs) {
      padding: 0;

      .card {
        border: none;
        border-radius: 0;
      }
    }
  }
}