.items {
  padding: 0;
  list-style: none;

  &:last-child {
    border-bottom: $border-width solid $gray-lighter;
  }

  .item {
    display: flex;
    position: relative;
    align-items: center;
    padding: spacer("3x") spacer("4x");
    font-size: $font-size-base;
    border-top: $border-width solid $gray-lighter;


    &:hover {
      background-color: $gray-lighter;
    }

    .sprite-img {
      margin-right: spacer("2x");
      fill: $gray-light;

      &:last-child {
        margin-right: 0;
      }
    }

    .item__title {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      margin-right: 60px;
      overflow: hidden;
    }

    .item__text {
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      top: 0.07em;
    }

    .item__rank {
      margin-right: spacer("1x");
      color: $gray-light;
    }

    .item__icons {
      position: absolute;
      right: spacer("4x");
      @include media-breakpoint-up(sm) {
        right: spacer("3x");
      }
    }
  }
}