.list.ui {
  padding: 0;
  margin: spacer("2x") 0 spacer("6x") spacer("6x");
  @include media-breakpoint-up(md) {
    margin: spacer("2x") 0 spacer("6x") 3.5rem;
  }
}

.list__item {
  margin-bottom: spacer("2x");

  &:last-child {
    margin-bottom: 0;
  }
}

ol, ul {
  @extend .list.ui;

  li {
    @extend .list__item;
  }
}

._bulleted {
  list-style: none;

  > li::before {
    @include list-bullet("\2014");
  }

  > li ul > li::before {
    @include list-bullet("\2022");
  }

}

.ui.list._divided {
  border-bottom: $border-width solid $gray-lighter;
  margin: 0;

  .list__item {
    padding: spacer("3x") spacer("4x");
    border-top: $border-width solid $gray-lighter;
    margin: 0;
  }
}

ul:not(.ui) {
  @extend ._bulleted;
}

ul.ui {
  padding: 0;
  margin: 0;

  > li {
    margin: 0;
  }
}

div.list.ui._bulleted {
  > .list__item::before {
    @include list-bullet("\2014");
  }

  > .list__item .list.ui > .list__item::before {
    @include list-bullet("\2022");
  }
}

dl {
  dt {
    font-size: $h3-font-size;
    font-weight: $font-weight-normal;
  }
}