// Modals

// Padding applied to the modal body
$modal-inner-padding:               spacer("6x");

$modal-dialog-margin:               .5rem !default;
$modal-dialog-margin-y-sm-up:       1.75rem !default;

$modal-title-line-height:           $line-height-sm;

$modal-content-bg:                  $white !default;
$modal-content-border-color:        rgba($black, .2) !default;
$modal-content-border-width:        $border-width !default;
$modal-content-border-radius:       $border-radius-lg !default;
$modal-content-box-shadow-xs:       0 .25rem .5rem rgba($black, .5) !default;
$modal-content-box-shadow-sm-up:    0 .5rem 1rem rgba($black, .5) !default;

$modal-backdrop-bg:                 $gray-darker;
$modal-backdrop-opacity:            .9;
$modal-header-border-color:         $gray-lighter;
$modal-footer-border-color:         $modal-header-border-color !default;
$modal-header-border-width:         $modal-content-border-width !default;
$modal-footer-border-width:         $modal-header-border-width !default;
$modal-header-padding-y:            spacer("4x");
$modal-header-padding-x:            spacer("6x");
$modal-header-padding:              $modal-header-padding-y $modal-header-padding-x !default; // Keep this for backwards compatibility

$modal-xl:                          1140px !default;
$modal-lg:                          800px !default;
$modal-md:                          500px !default;
$modal-sm:                          300px !default;

$modal-fade-transform:              translate(0, -50px) !default;
$modal-show-transform:              none !default;
$modal-transition:                  all .2s ease-in-out;

@import "bootstrap/scss/modal";

.modal-header {
  align-items: center;

  .modal-title {
    padding: 0 spacer("8x") 0 0;
  }

  .close {
    align-self: flex-start;
    background: none;
    border: none;
    padding: .5rem;
    margin: 0;
    position: relative;
    left: .5rem;
    cursor: pointer;
    &:focus {
      outline: none;

      .sprite-img {
        fill: $gray-darker;
      }
    }

    .sprite-img {
      fill: $gray-dark;
      transition: $transition-base;
    }
    &:hover .sprite-img {
      fill: $gray-darker;
    }
  }
}

.modal-dialog {
  padding: 0;
  @include media-breakpoint-up(sm) {
    padding: 0 .5rem;
  }

  .modal.fade & {
    transform: scale(0.9);
    opacity: 0;
  }

  .modal.show & {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-dialog__lg {
  max-width: $modal-lg;
}

.modal-dialog__md {
  max-width: $modal-md;
}

.modal-body {
  .ui.form {
    background: none;
    border: none;
    margin: 0;
  }
}
