// Modals

// Padding applied to the modal body
$modal-inner-padding:               spacer("6x");

$modal-dialog-margin:               .5rem !default;
$modal-dialog-margin-y-sm-up:       1.75rem !default;

$modal-title-line-height:           $line-height-sm;

$modal-content-bg:                  $white !default;
$modal-content-border-color:        rgba($black, .2) !default;
$modal-content-border-width:        $border-width !default;
$modal-content-border-radius:       $border-radius-lg !default;
$modal-content-box-shadow-xs:       0 .25rem .5rem rgba($black, .5) !default;
$modal-content-box-shadow-sm-up:    0 .5rem 1rem rgba($black, .5) !default;
$modal-content-padding:             spacer("8x");

$modal-backdrop-bg:                 $gray-darker;
$modal-backdrop-opacity:            .9;
$modal-header-border-color:         $gray-lighter;
$modal-footer-border-color:         $modal-header-border-color !default;
$modal-header-border-width:         $modal-content-border-width !default;
$modal-footer-border-width:         $modal-header-border-width !default;
$modal-header-padding-y:            spacer("4x");
$modal-header-padding-x:            spacer("6x");
$modal-header-padding:              $modal-header-padding-y; // Keep this for backwards compatibility

$modal-xl:                          1140px !default;
$modal-lg:                          800px !default;
$modal-md:                          500px !default;
$modal-sm:                          300px !default;

$modal-fade-transform:              translate(0, -50px) !default;
$modal-show-transform:              none !default;
$modal-transition:                  all .2s ease-in-out;

@import "bootstrap/scss/modal";

.modal-content {
  padding: $modal-content-padding;

  .modal-title {
    margin-bottom: 1rem;
  }

  .modal-header {
    padding: 1rem $modal-content-padding;
    margin: (-$modal-content-padding) (-$modal-content-padding) 1rem;

    .modal-title {
      margin-bottom: 0;
    }
  }

  .modal-footer {
    margin: 1rem (-$modal-content-padding) (-$modal-content-padding);
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    cursor: pointer;
    padding: .5rem;
    line-height: 1.2;
    z-index: $zindex-close;
    &:focus {
      outline: none;

      .sprite-img {
        fill: $gray-darker;
      }
    }

    .sprite-img {
      fill: $gray-dark;
      transition: $transition-base;
    }
    &:hover .sprite-img {
      fill: $gray-darker;
    }
  }
}

.modal-dialog {
  padding: 0;
  @include media-breakpoint-up(sm) {
    padding: 0 .5rem;
  }

  .modal.fade & {
    transform: scale(0.9);
    opacity: 0;
  }

  .modal.show & {
    transform: scale(1);
    opacity: 1;
  }
}

.modal-dialog__lg {
  max-width: $modal-lg;
}

.modal-dialog__md {
  max-width: $modal-md;
}

.modal-body {
  padding: 0;

  .ui.form {
    background: none;
    border: none;
    margin: 0;
  }
}

.modal-content._loading:before {
  border-radius: $border-radius-lg;
}