.nav-tabs {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 30px;
  list-style: none;
  border-bottom: $border-width solid $border-color;

  .nav-item {
    margin-bottom: -$border-width;
  }

  .nav-link {
    border: $border-width solid $border-color;
    padding: .375rem 1rem;
    color: $gray-400;
    opacity: 1;
    &.disabled {
      color: $input-disabled-bg;
      background-color: $control-disabled-bg;
      border-color: transparent;
    }
    &:hover{
      background-color: $gray-100;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: $white;
    background-color: $control-color;
    border-color: $control-color;
  }

  .dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: -$border-width;
    // Remove the top rounded corners here since there is a hard edge above the menu
    //@include border-top-radius(0);
  }
}

