@import "noty/src/noty";

.noty_theme__notification.noty_bar {
  margin: spacer("3x") 0;
  overflow: hidden;
  position: relative;
  border: 1px solid transparent;
  border-radius: $border-radius;
  font-size: $font-size-sm;

  h3 {
    display: block;
    width: 100%;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    margin: 0 0 spacer("1x") 0;
  }

  span {
    a {
      @extend .btn._small;
      @extend .btn._light;
    }
  }

  a {
    @extend .btn._small;
    @extend .btn._primary;
    display: inline-block;
    margin: 0 spacer("3x") spacer("1x") 0;
  }

  p {
    margin-bottom: .5rem;
  }

  .noty_body {
    padding: spacer("4x");
  }
}

@mixin notification($background, $color: map_get($system-colors, $background)) {
  background-color: $color;
  color: color-yiq($color);
  box-shadow: 0 0 2rem transparentize($color, .8);
}

.noty_theme__notification.noty_type__alert,
.noty_theme__notification.noty_type__notification {
  background-color: $white;
  color: inherit;
}

.noty_theme__notification.noty_type__warning {
  @include notification('warning');
}

.noty_theme__notification.noty_type__error {
  @include notification('danger');
}

.noty_theme__notification.noty_type__info,
.noty_theme__notification.noty_type__information {
  @include notification('info');
}

.noty_theme__notification.noty_type__success {
  @include notification('success');
}
