.page-content {
  display: flex;
  justify-content: space-between;
  margin-top: 140px;
  flex-flow: column;
  padding: 20px;
  @include media-breakpoint-up(lg) {
    flex-flow: row;
    margin-top: 40px;
    padding: 0;
  }
}

.main-content {
  h1, h2, h3 {
    text-align: left;
  }
  @include make-col(12);
  @include media-breakpoint-up(lg) {
    @include make-col(8);
  }
  ._single-img {
    img {
      width: 100%;
    }
    ._img-description {
      padding-top: 5px;
      font-size: $font-size-sm;
      color: $gray-400;
      margin-bottom: 20px;
    }
  }
  ._text {
    padding-bottom: 20px;
  }
  ._title {
    padding-bottom: 10px;
    text-align: left;
  }
}

.right-side {
  margin-top: 10px;
  @include make-col(12);
  @include media-breakpoint-up(lg) {
    @include make-col(3);
  }
  ._title {
    text-align: left;
    display: block;
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}

.text-note {
  position: relative;
  border: 1px solid $gray-300;
  border-radius: $border-radius-sm;
  padding: 15px 15px 10px 15px;
  margin-bottom: 20px;

  &:after {
    content: " ";
    width: 14px;
    height: 14px;
    background-image: url("/static/v2/img/icons/more-info-block_corner.svg");
    position: absolute;
    right: -1px;
    bottom: -1px;
  }

  ._text {
    margin-top: 5px;
    font-size: $small-font-size;
  }
}

.info-card {
  background-color: $gray-300;
  padding: 15px;
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
  }

  ._text {
    margin-top: 10px;
    font-size: $small-font-size;
  }

  img {
    width: 100%;
  }
}

.right-side_review {
  margin-top: 20px;
  display: none;
  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.right-side_review_bubble {
  position: relative;
  background-color: $gray-300;
  font-size: $small-font-size;
  padding: 15px 15px 10px 15px;
  border-radius: $border-radius-sm;

  &:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 6px;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 14px solid $gray-300;
  }
}

.right-side_review {
  .testimonial {
    padding: 0;
    margin-top: 15px;
    img {
      width: 50px;
      height: 50px;
    }
    .testimonial__details {
      margin-left: 10px;
      .testimonial__name {
        font-size: $font-size-sm;
      }
      span {
        margin: 0;
      }
    }
  }

}

