$user-card-gutter-width: $grid-gutter-width / 2;

.card-deck {
  &._users {
    .card {
      @include card-width(2);

      @include media-breakpoint-up(iphone6plus, $mobile-breakpoints) {
        @include card-width(3);
      }
      // .cards-sm-4
      @include media-breakpoint-up(sm) {
        @include card-width(4);
      }
      // .cards-md-4
      @include media-breakpoint-up(md) {
        @include card-width(4);
      }
      // .cards-lg-6
      @include media-breakpoint-up(lg) {
        @include card-width(6);
      }
    }
  }
}

.user-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0 #{-$user-card-gutter-width} 0 -#{$user-card-gutter-width};
  &:after {
    content: "";
    flex: auto;
  }
}

.user-cards._team {

  .user-card {
    text-align: center;
    width: percentage(12 / $grid-columns);
    @include media-breakpoint-up(iphone6plus, $mobile-breakpoints) {
      width: percentage(6 / $grid-columns);
    }
    @include media-breakpoint-up(sm) {
      width: percentage(4 / $grid-columns);
    }
    @include media-breakpoint-up(lg) {
      width: percentage(4 / $grid-columns);
    }
  }

  .user-card__photo {
    padding-bottom: 110.25%;
  }
}

.user-card {
  float: left; // for older browsers
  vertical-align: top;
  line-height: $line-height-sm;
  margin-bottom: spacer("8x");
  padding-left: $user-card-gutter-width;
  padding-right: $user-card-gutter-width;

  width: percentage(6 / $grid-columns);
  @include media-breakpoint-up(iphone6plus, $mobile-breakpoints) {
    width: percentage(4 / $grid-columns);
  }
  @include media-breakpoint-up(sm) {
    width: percentage(3 / $grid-columns);
  }
  @include media-breakpoint-up(lg) {
    width: percentage(2 / $grid-columns);
  }
}


.user-card__photo {
  position: relative;
  margin: 0 auto spacer("1x");
  padding-bottom: 139.75%; // calc((100% - #{$border-width} * 2) * 1.4
  overflow: hidden;
  background: $gray-lighter;
  background-size: cover;

  &._b {
    background-image: url("/static/v2/img/placeholder/boy.png");
  }

  &._m {
    background-image: url("/static/v2/img/placeholder/man.png");
  }

  &._g {
    background-image: url("/static/v2/img/placeholder/girl.png");
  }

  &._w {
    background-image: url("/static/v2/img/placeholder/woman.png");
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }
}

.user-card__details {
  overflow: hidden;
  @include font-smoothing();

  .workplace {
    color: $gray-dark;
    font-size: $font-size-sm;
  }
}

.card._user {
  border-radius: $border-radius-sm;
  border: none;

  .card__img {
    position: relative;
    padding-bottom: 139.75%;
    margin-bottom: spacer("2x");
    overflow: hidden;
    background: $gray-lighter;
    background-size: cover;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
    }

    &._b {
      background-image: url("/static/v2/img/placeholder/boy.png");
    }

    &._m {
      background-image: url("/static/v2/img/placeholder/man.png");
    }

    &._g {
      background-image: url("/static/v2/img/placeholder/girl.png");
    }

    &._w {
      background-image: url("/static/v2/img/placeholder/woman.png");
    }
  }

  .card__title {
    font-size: $font-size-content-base;
  }
}

