$user-card-gutter-width: $grid-gutter-width / 2;

.user-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0 #{-$user-card-gutter-width} 0 -#{$user-card-gutter-width};
  &:after {
    content: "";
    flex: auto;
  }
}

.user-card {
  float: left; // for older browsers
  vertical-align: top;
  line-height: $line-height-sm;
  margin-bottom: spacer("8x");
  padding-left: $user-card-gutter-width;
  padding-right: $user-card-gutter-width;

  width: percentage(6 / $grid-columns);
  @include media-breakpoint-up(iphone6plus, $mobile-breakpoints) {
    width: percentage(4 / $grid-columns);
  }
  @include media-breakpoint-up(sm) {
    width: percentage(3 / $grid-columns);
  }
  @include media-breakpoint-up(lg) {
    width: percentage(2 / $grid-columns);
  }

}

.user-cards._online-courses {
  .user-card {
    width: percentage(6 / $grid-columns);
    @include media-breakpoint-up(iphone6plus, $mobile-breakpoints) {
      width: percentage(6 / $grid-columns);
    }
    @include media-breakpoint-up(sm) {
      width: percentage(4 / $grid-columns);
    }
    @include media-breakpoint-up(lg) {
      width: percentage(4 / $grid-columns);
    }

    .user-card__photo {
      padding-bottom: 100%;
    }

    .card-body {
      padding: 0 0 spacer("2x") 0;
      text-align: center;
      background-color: $white;
      @include font-smoothing();
      border-radius: $border-radius-lg;
      overflow: hidden;
      box-shadow: 0 0 10px $gray-light;
      height: 100%;

      .card__title {
        margin-top: spacer("4x");
      }
      .author {
        color: $gray-dark;
        font-size: $font-size-sm;
      }

      &:hover {
        transition: $transition-base;
        box-shadow: 0 0 32px $gray-light;
      }
    }
  }
}

.user-cards._videoarchive {
  .user-card {
    margin-bottom: spacer("4x");
    width: percentage(12 / $grid-columns);
    @include media-breakpoint-up(iphone6plus, $mobile-breakpoints) {
      width: percentage(6 / $grid-columns);
    }
    @include media-breakpoint-up(sm) {
      width: percentage(6 / $grid-columns);
    }
    @include media-breakpoint-up(lg) {
      width: percentage(4 / $grid-columns);
    }

    .card-body {
      padding: spacer("4x");
      text-align: left;
      background-color: $white;
      @include font-smoothing();
      border-radius: $border-radius-sm;
      overflow: hidden;
      box-shadow: 0 0 10px $gray-light;
      height: 100%;
      display: flex;
      flex-flow: column;

      .card__title {
        margin-bottom: spacer("2x");
        color: $gray-darker;
      }

      .type {
        color: $gray-dark;
        font-size: $font-size-sm;
        margin-bottom: 0;
        margin-top: auto;
      }

      .author {
        font-size: $font-size-sm;
        color: $gray-darker;
        margin-bottom: spacer("8x");
      }

      &:hover {
        transition: $transition-base;
        box-shadow: 0 0 32px $gray-light;
      }
    }
  }
}

.user-card__photo {
  position: relative;
  margin: 0 auto spacer("1x");
  padding-bottom: 139.75%; // calc((100% - #{$border-width} * 2) * 1.4
  overflow: hidden;
  background: $gray-lighter;
  background-size: cover;

  &._b {
    background-image: url("/static/v2/img/placeholder/boy.png");
  }

  &._m {
    background-image: url("/static/v2/img/placeholder/man.png");
  }

  &._g {
    background-image: url("/static/v2/img/placeholder/girl.png");
  }

  &._w {
    background-image: url("/static/v2/img/placeholder/woman.png");
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }
}

.user-card__details {
  @include font-smoothing();

  .workplace {
    color: $gray-dark;
    font-size: $font-size-sm;
  }
}

.achievements {
  position: absolute;
  top: 2px;
  right: -2px;
}

.achievements__item {
  margin-bottom: spacer("1x");
  transition: all 200ms;
  &:hover {
    transform: scale(1.3);
    transition: all 200ms ease;
    padding-bottom: spacer("1x");
  }
}

