<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Computer Science Center{% endblock title %}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Computer Science Center — объединённая инициатива Школы анализа данных, Computer Science клуба и JetBrains.">
    <meta name="google-site-verification" content="pBs4x-E9VGlX-gA7WxCNEqcYB0TYJCSmcZtSeLBpEgk"/>

    <link rel="shortcut icon" type="image/png" href="{{ static("v2/img/favicon.png") }}">
    <link href="{{ static("v2/dist/css/main.css") }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,600&amp;subset=cyrillic" rel="stylesheet">

    {% block stylesheets %} {% endblock stylesheets %}

    <script type="text/javascript">
        window.__CSC__ = {
            notifications: {{ messages(request)|tojson }},
            sprites: ["{{ static("v2/dist/img/sprites/common.svg") }}"]
        };
    </script>
</head>

{% import "v2/_macros.jinja2" as macros %}
{% import "v2/components/menu/_macros.jinja2" as top_menu %}

<body {% block body_attrs %}{% endblock body_attrs %}>
<div class="svg-inline">{% block sprites %}{% endblock sprites %}</div>
{% block before_navbar_container %}{% endblock before_navbar_container %}
{% block menu %}
<div class="navbar-container">
    {% block top_banner %}
        {%- if is_admission_active -%}
            <div class="top-banner-wrapper">
                <div class="container">
                    <div class="top-banner">
                        <img class="mr-2 d-none d-lg-inline-block" src="/static/v2/img/icons/top-banner-kids.svg" alt="csc-kids">
                        <span>До 14 апреля открыт <a href="#">приём заявок</a> на очное обучение в центре</span>
                    </div>
                </div>
            </div>
        {%- endif -%}
    {% endblock top_banner %}
    {%- include "v2/layouts/_top_menu.jinja2" %}
</div>
{% if self.top_banner() %}<div class="top-banner-spacer"></div>{% endif %}
{% endblock menu %}
{% block after_navbar_container %}{% endblock after_navbar_container %}

{% block content %}place page content here{% endblock content %}

{% block footer -%}
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-auto d-lg-flex d-none">
                    {{ macros.svg_image('logo-full-green', modifiers='footer__logo _full-logo') }}
                </div>
                <div class="col d-lg-flex d-none">
                    <ul class="list ui footer__list">
                        <li class="list__item">
                            <a href="" class="footer__title">Обучение</a>
                            <ul class="list ui">
                                <li class="list__item"><a href="https://compscicenter.ru/syllabus/on-campus/cs/" class="footer__link">Computer Science</a></li>
                                <li class="list__item"><a href="https://compscicenter.ru/syllabus/on-campus/ds/" class="footer__link">Data Science</a></li>
                                <li class="list__item"><a href="https://compscicenter.ru/syllabus/on-campus/se/" class="footer__link">Software Enginerring</a></li>
                                <li class="list__item"><a href="https://compscicenter.ru/projects/" class="footer__link">Практики и НИР</a></li>
                            </ul>
                        </li>
                        <li class="list__item">
                            <a href="" class="footer__title">Поступление</a>
                            <ul class="list ui">
                                <li class="list__item"><a href="https://compscicenter.ru/application/" class="footer__link">Подать заявку</a></li>
                                <li class="list__item"><a href="https://compscicenter.ru/enrollment/checklist/" class="footer__link">Памятка</a></li>
                                <li class="list__item"><a href="https://compscicenter.ru/enrollment/program/" class="footer__link">Подготовка</a></li>
                                <li class="list__item"><a href="https://compscicenter.ru/faq/" class="footer__link">Вопросы и ответы</a></li>
                            </ul>
                        </li>
                        <li class="list__item">
                            <a href="" class="footer__title">Онлайн</a>
                            <ul class="list ui">
                                <li class="list__item"><a href="https://compscicenter.ru/online/" class="footer__link">Онлайн-курсы</a></li>
                                <li class="list__item"><a href="https://compscicenter.ru/videos/" class="footer__link">Видеозаписи лекций</a></li>
                                <li class="list__item"><a href="https://code.stepik.org/" target="_blank" class="footer__link">Онлайн-программа</a></li>
                            </ul>
                        </li>
                        <li class="list__item">
                            <a href="" class="footer__title">Центр</a>
                            <ul class="list ui">
                                <li class="list__item"><a href="https://compscicenter.ru/testimonials/" class="footer__link">Отзывы</a></li>
                                <li class="list__item"><a href="https://compscicenter.ru/teachers/" class="footer__link">Преподаватели</a></li>
                                <li class="list__item"><a href="https://compscicenter.ru/alumni/" class="footer__link">Выпускники</a></li>
                                <li class="list__item"><a href="https://compscicenter.ru/team/" class="footer__link">Команда</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer__contacts">
            <div class="container">
                <div class="row footer__wrapper">
                    <div class="col col-lg">
                        <span class="footer__copyright text-small">&copy; Computer Science Center, 2020</span>
                    </div>
                    <div class="col-12 col-lg-auto order-0 order-md-1 order-lg-0">
                        <a href="/v2/pages/privacy/" class="footer__link text-small ml-auto">Конфиденциальность</a>
                        <a href="mailto:info@compscicenter.ru" class="footer__link text-small">info@compscicenter.ru</a>

                    </div>
                    <div class="col-12 col-md-auto my-1 my-lg-0">
                        <ul class="list footer__social-media-icons">
                            <li class="list__item"><a target="_blank" rel="noopener" href="https://vk.com/compscicenter"
                               title="Computer Science Center on VK.com">{{ macros.svg_icon('vk') }}</a></li>
                            <li class="list__item"><a target="_blank" rel="noopener" href="https://t.me/compscicenter_ru"
                               title="Computer Science Center in Telegram">{{ macros.svg_icon('telegram') }}</a></li>
                            <li class="list__item"><a target="_blank" rel="noopener" href="https://instagram.com/compscicenter"
                               title="Computer Science Center on Instagram">{{ macros.svg_icon('instagram') }}</a></li>
                            <li class="list__item"><a target="_blank" rel="noopener" href="https://twitter.com/compscicenter"
                               title="Computer Science Center on Twitter">{{ macros.svg_icon('twitter') }}</a></li>
                            <li class="list__item"><a target="_blank" rel="noopener" href="https://www.facebook.com/CSCenter"
                               title="{{ _('Computer Science Center on Facebook') }}">{{ macros.svg_icon('facebook') }}</a></li>
                            <li class="list__item"><a target="_blank" rel="noopener" href="https://www.youtube.com/c/compscicenterru"
                               title="Computer Science Center on YouTube">{{ macros.svg_icon('youtube') }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{%- endblock footer %}

{{ render_bundle('runtime', config='V2') }}
{{ render_bundle('common', config='V2') }}
{{ render_bundle('main', config='V2') }}
</body>
</html>