{% extends "v2/layouts/inner.jinja2" %}

{% block content %}
<div class="container page-content">
    <div class="row content-center">
        <div class="team-title col-sm-10">
            <h1>Совет центра</h1>
            <p>Совет отвечает за содержание учебного процесса и развитие центра. Цель Совета — сделать
                так, чтобы каждому студенту центра было полезно и интересно учиться, а ряды преподавателей и выпускников
                пополнялись из года  в год. Совет также активно занимается онлайн-образованием и
                расширением деятельности  CS центра за пределы Санкт-Петербурга.</p>
        </div>

        <div class="col-lg-12">
            <div class="user-cards _team">
                <div class="user-card">
                    <div class="user-card__photo">
                        <img src="/media/pages/team/ivanov_a.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <div class="user-card__details"><a href="http://www.linkedin.com/in/yaivanov">Андрей Иванов</a>
                            <p class="workplace">JetBrains, СПбАУ РАН</p>
                        </div>
                    </div>
                </div>
                <div class="user-card">
                    <div class="user-card__photo">
                        <img src="/media/pages/team/kylikov_a.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <div class="user-card__details"><a href="http://logic.pdmi.ras.ru/~kulikov/">Александр
                            Куликов</a>
                            <p class="workplace">ПОМИ РАН, CS клуб</p></div>
                    </div>
                </div>
                <div class="user-card">
                    <div class="user-card__photo">
                        <img src="/media/pages/team/kylikova_e.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <div class="user-card__details"><a
                                href="https://www.linkedin.com/pub/evgenia-kulikova/30/219/774">Евгения
                            Куликова</a>
                            <p class="workplace">Яндекс</p></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="team-title col-sm-10">
            <h2>Санкт-Петербург</h2>
            {# <p>Кураторы CS центра. Организуют учебный процесс, курируют онлайн курсы и проектные#}
            {# работы студентов. Проводят прием новых студентов, а также отчетные мероприятия и выпуской.</p>#}
        </div>

        <div class="col-lg-12">
            <div class="user-cards _team">
                <div class="user-card">
                    <div class="user-card__photo">
                        <img src="/media/pages/team/artamonova_e.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <div class="user-card__details">Екатерина Артамонова <p class="workplace">Куратор</p></div>
                    </div>
                </div>
                <div class="user-card">
                    <div class="user-card__photo">
                        <img src="/media/pages/team/belozerov_a.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <div class="user-card__details">Алексей Белозёров<p class="workplace">Оператор и
                            монтажёр</p>
                        </div>
                    </div>
                </div>
                <div class="user-card">
                    <div class="user-card__photo">
                        <img src="/media/pages/team/zherevchuk_sv.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <div class="user-card__details">Сергей Жеревчук<p class="workplace">Разработчик</p></div>
                    </div>
                </div>
                <div class="user-card">
                    <div class="user-card__photo">
                        <img src="/media/pages/team/lebedeva_e.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <div class="user-card__details">Екатерина Лебедева
                            <p class="workplace">Куратор</p></div>
                    </div>
                </div>
                <div class="user-card">
                    <div class="user-card__photo">
                        <img src="/media/pages/team/mikhaylov_s.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <div class="user-card__details">Святослав Михайлов<p class="workplace">Дизайнер</p></div>
                    </div>
                </div>
                <div class="user-card">
                    <div class="user-card__photo">
                        <img src="/media/pages/team/smolnikova_k.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <div class="user-card__details">Кристина Смольникова<p class="workplace">Куратор</p></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="team-title col-sm-10">
            <h2>Новосибирск</h2>
        </div>
        <div class="col-lg-12">
            <div class="user-cards _team ">
                <div class="user-card">
                    <div class="user-card__photo">
                        <img src="/media/pages/team/avdushenko_a.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <div class="user-card__details">Александр Авдюшенко<p class="workplace">Куратор</p></div>
                    </div>
                </div>
                <div class="user-card">
                    <div class="user-card__photo">
                        <img src="/media/pages/team/mikhaylova_a.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <div class="user-card__details">Александра Михайлова<p class="workplace">Оператор и
                            монтажёр</p>
                        </div>
                    </div>
                </div>
                <div class="user-card">
                    <div class="user-card__photo">
                        <img src="/media/pages/team/mojina_a.jpg" alt="">
                    </div>
                    <div class="card-body">
                        <div class="user-card__details">
                            Алина Можина<p class="workplace">Куратор</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
