{% extends "v2/layouts/inner.jinja2" %}

{% block content %}
<div class="container page-content">
    <div class="row">
        <div class="col-sm-10 offset-sm-1 text-center">
            <h1>Совет центра</h1>
            <p>Совет отвечает за содержание учебного процесса и развитие центра. Цель Совета — сделать
                так, чтобы каждому студенту центра было полезно и интересно учиться, а ряды преподавателей и выпускников
                пополнялись из года  в год. Совет также активно занимается онлайн-образованием и
                расширением деятельности  CS-центра за пределы Санкт-Петербурга.</p>
        </div>
        <div class="team-row">
            <div class="member">
                <img src="/media/pages/team/akulikov.jpg" alt="">
                <h3><a href="">Александр Куликов</a></h3>
                <p>ПОМИ РАН, CS клуб</p>
            </div>
            <div class="member">
                <img src="/media/pages/team/ekulikova.jpg" alt="">
                <h3><a href="">Евгения Куликова</a></h3>
                <p>Яндекс</p>
            </div>
            <div class="member">
                <img src="/media/pages/team/aivanov.jpg" alt="">
                <h3><a href="">Андрей Иванов</a></h3>
                <p>JetBrains, СПбАУ РАН</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
