.m-center {
  text-align: center;
  @include media-breakpoint-up(lg) {
    text-align: inherit;
  }
}

.cover-index-page {
  background-image: url("/static/v2/img/pages/index/bg-main-page.jpg");
  background-color: #201f20;
  padding: 0 0 64px;
  @include media-breakpoint-up(lg) {
    padding-top: 0;
    text-align: left;
  }

  .cover__title {
    padding-top: 40px;
  }

  .cover__text {
    margin-bottom: 40px;
    max-width: 900px;
  }
}

// 2 - screen `Study Areas`

.csc-study-areas {
  padding: spacer("10x") 0 0;
  @include append-hr-to-container;
}

.card._study-area {
  background-color: $gray-lighter;
  text-align: center;
  margin-bottom: spacer("4x");

  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }

  .card__content {
    padding: spacer("8x") spacer("4x");
  }

  svg {
    margin-left: 30px;
  }

  &:hover {
    background-color: $teal;
    transition: .2s;

    svg {
      fill: $white;
    }

    .card__title,
    .card__subtitle {
      color: $white;
    }

  }
  .card__title {
    color: $blue;
    margin-bottom: 0;
    letter-spacing: -.01rem;
    font-weight: $font-weight-light;

  @include media-breakpoint-down(md) {
    font-size: $font-size-content-base;
  }
}
}

a.card {
  color: $black;

  .card__title {
    color: $blue;
  }

  &:hover {
    .card__title {
      color: $link-hover-color;
    }
  }
}

.card-offline-course__icon {
  height: 96px;
}

//3-screen about-csc

.about-csc {
  text-align: center;
  @include append-hr-to-container();

  .about-csc__cover {
    position: relative;
    @include font-smoothing();
  }

  .about-csc__description {
    color: $black;
    margin-top: 2rem;

    @include media-breakpoint-up(lg) {
      background-image: linear-gradient(0deg, rgba(29, 29, 29, 0.00) 0%, rgba(29, 29, 29, 1) 100%);
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0;
      color: $white;

      p {
        z-index: $zindex-cover;
        padding: 0 120px 100px;
      }

      h1 {
        z-index: $zindex-cover;
        margin-top: 3rem;
      }
    }
  }
  .about-csc_btn {
    margin-bottom: 2rem;
    @include media-breakpoint-up(lg) {
      position: absolute;
      bottom: 3rem;
      margin: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.about-csc__organizers {
  border-top: $hr-border-width solid $hr-border-color;
  padding-top: spacer("8x");
  @include media-breakpoint-up(lg) {
    border-top: none;
  }

  .sprite-img {
    @include media-breakpoint-up(md) {
      width: 112px;
      height: 88px;
      margin: 0 .5rem;
    }
  }

  h3 {
    margin-bottom: .5rem;
  }

  p {
    font-size: $font-size-sm;
  }
}

.about-csc__icons {
  border-bottom: $hr-border-width solid $hr-border-color;
  border-top: $hr-border-width solid $hr-border-color;
  padding: spacer("8x") 0 0 0;
  @include media-breakpoint-up(lg) {
    border-top: none;
    padding: spacer("8x") 0;
  }

  .icon {
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: spacer("2x");
  }

  .icon-description {
    padding: 0;
    margin-bottom: spacer("8x");
    font-size: $font-size-base;
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      padding: 0 spacer("4x");
    }
  }
}


// 4 - screen csc-online

.csc-online-education {
  text-align: center;
  @include media-breakpoint-up(md) {
    text-align: left;
  }
  padding-bottom: spacer("8x");
}

.card-deck._online-education {
  .card {
    @include media-breakpoint-up(sm) {
      width: calc(50% - #{$grid-gutter-width});
    }

    @include media-breakpoint-up(md) {
      width: calc(33.3333% - #{$grid-gutter-width});
    }

    @include media-breakpoint-up(lg) {
      width: #{calc(16.6666% - #{$grid-gutter-width})};
    }

    @include media-breakpoint-up(xl) {
      width: #{calc(16.6666% - #{$grid-gutter-width})};
    }
  }

  .card__content {
    padding-top: spacer("2x");
  }

  .card__title {
    font-size: $font-size-base;
    @include media-breakpoint-up(lg) {
      font-size: $font-size-sm;
    }
    @include media-breakpoint-up(xl) {
      font-size: $font-size-base;
    }
  }
}

//5-screen students-reviews

.csc-student-reviews {
  padding: spacer("8x") 0 spacer("10x");
  background-color: $gray-lighter;

  .card-columns {
    margin: 30px 0;
  }
}

//6-screen social-media-posts

.social-media {
  display: flex;
  flex-flow: column;
  padding: spacer("8x") spacer("6x") spacer("2x");
  margin-bottom: spacer("4x");
  background-size: cover;
  border-radius: $border-radius;
  overflow: hidden;
  @include media-breakpoint-down(md) {
    text-align: center;
    align-items: center;
  }
}

.social-media-posts {
  padding: spacer("8x") 0;
  font-size: $font-size-base;
}

.social-media_icon {
  .sprite-img {
    vertical-align: bottom;
    fill: $gray-light;
    @include media-breakpoint-up(lg) {
      margin-bottom: spacer("2x");
    }
    &._inst-bordered {
      width: 32px;
      height: 32px;
    }

    &._vk {
      width: 38px;
      height: 38px;
    }
  }
}

.social-media__text {
  color: $white;
  margin: 0;
  overflow: hidden;
  width: 100%; //fix for IE
}

.social-media__text--dark {
  color: $gray-darker;
}

.social-media__date {
  font-size: $font-size-extra-sm;
  color: $gray-darker;
  margin-top: auto;
  @include media-breakpoint-down(md) {
    margin-top: 0;
  }
}

.social-media__date--light {
  color: $gray-lighter;
}

.social-media--instagram {
  position: relative;
  background-image: url('/media/pages/index/instagram-img.jpg');
  transition: .3s;
  z-index: 1;

  &::before {
    content: "";
    background-color: rgba($gray-darker, .75);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    transition: .3s;
  }

  &:hover {
    .sprite-img._inst-bordered {
      fill: #de5a78;
      transition: $transition-base;
    }
  }
}

.social-media--full-size {
  height: 512px;
  @include media-breakpoint-down(md) {
    justify-content: space-between;
  }
}

.social-media--vk {
  background-color: $gray-lighter;
  transition: .3s;
  &:hover {
    .sprite-img._vk {
      fill: #4c75a3;
      transition: $transition-base;
    }
  }
}

.social-media--twitter {
  background-color: $gray-lighter;
}

.social-media--youtube {
  background-image: url('/media/pages/index/youtube-img.jpg');
}

.social-media--half-size {
  position: relative;
  height: 248px;
  @include media-breakpoint-down(md) {
    justify-content: space-between;
  }
  .social-media__text {
    max-height: 96px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 150px;
      height: 96px;
      background: linear-gradient(to right, rgba($gray-lighter, 0.2), $gray-lighter);
      @include media-breakpoint-up(lg) {
        height: 104px;
      }
    }
  }
}

.open-lecture_announcement {
  background: $white;
  border-radius: $border-radius-lg;
  border: $border-width solid $border-color;
  margin-bottom: spacer("10x");
  text-align: center;
  @include media-breakpoint-up(lg) {
    height: 440px;
    text-align: left;
  }

  img {
    height: 240px;
    margin-top: spacer("8x");
    @include media-breakpoint-up(lg) {
      height: calc(440px - #{$border-width*2});
      margin-top: 0;
    }
  }
}

.open-lecture_description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: spacer("8x");
  width: 100%; //For IE
  @include media-breakpoint-up(lg) {
    padding: spacer("8x") spacer("8x") spacer("8x") 0;
  }

  ._subtitle {
    color: $gray-dark;
  }

  ._text {
    max-height: 136px;
    overflow: hidden;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 150px;
      height: 28px;
      background: linear-gradient(to right, rgba(255, 255, 255, 0.2), #fff);
    }
  }

  ._enrol {
    display: block;
    text-align: center;
    @include media-breakpoint-up(lg) {
      text-align: left;
    }
  }
}

.open-lecture_details {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: spacer("6x");
  justify-content: center;
  @include media-breakpoint-up(lg) {
    justify-content: flex-start;
  }

  ._location, ._time {
    display: flex;
    align-items: baseline;

    p {
      margin: 0 20px 0 5px;
      font-size: $font-size-base;
    }
  }
}