.external-links {
  display: flex;
  flex-wrap: wrap;

  .sprite-img {
    margin-right: spacer("1x");
    fill: $gray-light;
    &:hover {
      fill: $blue;
    }
  }

  a {
    flex-basis: 100%;
    margin-bottom: spacer("2x");
  }

  &._inline {
    a {
      flex-basis: auto;
      margin: 0 spacer("3x") 0 0;
    }
  }
}
