.card._program {
  text-align: center;
  color: $black;
  border: $border-width solid $gray-light;
  &:hover {
    svg {
      #bg {
        fill: $teal;
        transition: $transition-base;
      }
    }
  }

  .card__img {
    padding-bottom: 57.75%;
  }
}


.program__stats {
  display: flex;
  justify-content: center;
  flex-flow: column;
    text-align: center;
  @include media-breakpoint-up(sm) {
    flex-flow: row;
  }

  .info {
    padding: 0 spacer("2x");
    margin-bottom: spacer("4x");
    color: $gray-darker;
    position: relative;
  }
}
