.ui.option {

  .control__indicator::after {
    top: 0;
  }

  &.checkbox {
    .control__input {
      &:checked ~ .control__indicator::after {
        background-image: url("/static/v2/img/icons/checkmark.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }
    }
  }
}