{% extends "v2/layouts/inner.jinja2" %}

{% block top_banner %}
  <a href="#" class="top-banner-wrapper darken-bg">
    <div class="container">
      <div class="top-banner">
        <img class="mr-2 d-none d-lg-inline-block" src="/static/v2/img/icons/top-banner-kids.svg" alt="csc-kids">
        <div>До 14 апреля открыт приём заявок на очное обучение в центре</div>
      </div>
    </div>
  </a>
  <a href="#" class="top-banner-wrapper green-bg">
    <div class="container">
      <div class="top-banner">
        <img class="mr-2 d-none d-lg-inline-block" src="/static/v2/img/icons/top-banner-robotics.svg" alt="Направление роботы">
        <div>Открылось новое направление обучения – Robotics</div>
      </div>
    </div>
  </a>
{% endblock top_banner %}
