{% extends "v2/layouts/inner.jinja2" %}

{% block content %}
    <div class="svg-inline">
        {% include "sprites/common.svg" %}
        {% include "sprites/index.svg" %}
        {% include "sprites/ui.svg" %}
    </div>
    <div class="container page-content p-8">
        <h1>Sizes</h1>
        <div class="btn _big _primary">
            Promo block big btn
        </div>
        <div class="btn _primary">
            Accept default
        </div>
        <div class="btn _small _primary">
            Accept small
        </div>

        <h1 class="mt-10">Styles</h1>
        <div class="btn _primary">
            Accept
        </div>
        <div class="btn _outline _gray">
            Cancel
        </div>
        <div class="btn _outline _small _gray">
            More info
        </div>
        <div class="btn _success">
            Create new
        </div>
        <div class="btn _danger">
            Delete
        </div>
    </div>

    <div class="container p-8" style="background-color: #1b181b">
        <h1 class="text-white">On black</h1>
        <div class="btn _primary">
            Accept
        </div>
        <div class="btn _light">
            {{ macros.svg_inline('user-sign') }}
            <span>Add new user</span>
        </div>
        <div class="btn _white _white-opacity-10">
            Secondary block
        </div>
    </div>

    <div class="container p-8">
        <h1 class="">WIth icon</h1>
        <div class="btn _light">
            {{ macros.svg_inline('user-sign') }}
            <span>Add new user</span>
        </div>
        <div class="btn _danger">
            <span>Delete immediately!</span>
            {{ macros.svg_inline('cross') }}
        </div>
        <div class="btn _small _gray">
            <span>Delete selected</span>
            {{ macros.svg_inline('cross') }}
        </div>
    </div>

{% endblock content %}
