{% extends "v2/layouts/inner.jinja2" %}

{% block sprites %}{% include "sprites/achievements.svg" %}{% endblock sprites %}

{% block content %}
    <div class="cover _green-gradient p-10">
        <div class="container page-content text-center">
            <h1>Green gradient cover</h1>
        </div>
    </div>
    <div class="cover _gray-gradient p-10">
        <div class="container page-content text-center">
            <h1>Gray gradient cover</h1>
        </div>
    </div>
{% endblock content %}
