<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Цели и история центра{% endblock title %}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Computer Science Center — объединённая инициатива Школы анализа данных, Computer Science клуба и JetBrains.">
    <meta name="google-site-verification" content="pBs4x-E9VGlX-gA7WxCNEqcYB0TYJCSmcZtSeLBpEgk"/>

    <link rel="shortcut icon" type="image/png" href="{{ static("v2/img/favicon.png") }}">
    <link href="{{ static("v2/dist/css/main.css") }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400&amp;subset=cyrillic" rel="stylesheet">

    {% block stylesheets %} {% endblock stylesheets %}
</head>

{% import "v2/_macros.jinja2" as macros %}

<body>
<div class="svg-inline">{% include "sprites/common.svg" %}</div>

<div class="navbar-container_mobile">
    <div class="top-banner">
        <div class="container">
            <div class="top-banner__text">
                {{ macros.svg_inline('top-banner-kids') }} До 14 апреля открыт <a class="top-banner__link"
                                                                                  href="/application/">приём
                заявок</a> на очное обучение в центре
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark __dark-menu">
        <div class="container">
            <a class="navbar-brand" href="#">{{ macros.svg_inline('logo-csc') }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#topMainMenu" aria-controls="topMainMenu"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="topMainMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        {#                        <a class="nav-link dropdown-toggle" href="#">О центре</a>#}
                        <div class="dropdown">
                            <a class="nav-link" id="userMenuButton" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <span>О центре</span> {{ macros.svg_inline('arrow-bottom') }}
                            </a>
                            <div class="dropdown-menu _menu-mobile-view">
                                <a class="dropdown-item" href="#">Цели и история</a>
                                <a class="dropdown-item" href="#">Программа</a>
                                <a class="dropdown-item" href="#">Команда</a>
                                <a class="dropdown-item" href="#">Преподаватели</a>
                                <a class="dropdown-item" href="#">Выпускники</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link" id="userMenuButton" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <span>Программы</span> {{ macros.svg_inline('arrow-bottom') }}
                            </a>
                            <div class="dropdown-menu _menu-mobile-view">
                                <a class="dropdown-item" href="#">Software engineering</a>
                                <a class="dropdown-item" href="#">Data science</a>
                                <a class="dropdown-item" href="#">Computer science</a>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">Курсы</a>
                    </li>
                    <li class="nav-item">
                        <div class="dropdown">
                            <a class="nav-link" id="userMenuButton" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <span>Онлайн</span> {{ macros.svg_inline('arrow-bottom') }}
                            </a>
                            <div class="dropdown-menu _menu-mobile-view">
                                <a class="dropdown-item" href="#">Онлайн-курсы</a>
                                <a class="dropdown-item" href="#">Видеозаписи лекций</a>
                                <a class="dropdown-item" href="#">Онлайн-программа</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Лекторий</a>
                    </li>
                    <li class="nav-item navbar-last-item">
                        <a class="nav-link" href="#">Поступление</a>
                    </li>
                </ul>
            </div>

            {#                <a class="btn btn--outline btn--reg" href="#">#}
            {#                    Войти <div class="btn-reg--icon"></div>#}
            {#                </a>#}

            <div class="dropdown">
                <button class="btn _user-menu-btn" type="button" id="userMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <span>Святослав</span><img class="user-menu-img" src="/media/pages/index/student.png" alt="">
                </button>
                <div class="dropdown-menu _user-menu" aria-labelledby="userMenuButton">
                    <a class="dropdown-item" href="#">Обучение</a>
                    <a class="dropdown-item" href="#">Проекты</a>
                    <a class="dropdown-item" href="#">Курирование</a>
                    <a class="dropdown-item" href="#">Админ-панель</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Выйти</a>
                </div>
            </div>

        </div>
    </nav>

</div>
<div class="navbar-container">

    <div class="top-banner">
        <div class="container">
            <div class="top-banner__text">
                {{ macros.svg_inline('top-banner-kids') }} До 14 апреля открыт <a class="top-banner__link"
                                                                                  href="/application/">приём заявок</a>
                на очное обучение в центре
            </div>
        </div>
    </div>


    <nav class="navbar navbar-expand-lg navbar-dark __dark-menu">
        <div class="container">
            <a class="navbar-brand" href="#">{{ macros.svg_inline('logo-csc') }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#topMainMenu" aria-controls="topMainMenu"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="topMainMenu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-link-active nav-item">
                        <a class="nav-link menu-link-active" href="#">О центре</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Программы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Курсы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Онлайн</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Лекторий</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Поступление</a>
                    </li>
                </ul>
            </div>

            {#                <a class="btn btn--outline btn--reg" href="#">#}
            {#                    Войти <div class="btn-reg--icon"></div>#}
            {#                </a>#}

            <div class="dropdown">
                <button class="btn _user-menu-btn" type="button" id="userMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <span>Святослав</span><img class="user-menu-img" src="/media/pages/index/student.png" alt="">
                </button>
                <div class="dropdown-menu _user-menu" aria-labelledby="userMenuButton">
                    <a class="dropdown-item" href="#">Обучение</a>
                    <a class="dropdown-item" href="#">Проекты</a>
                    <a class="dropdown-item" href="#">Курирование</a>
                    <a class="dropdown-item" href="#">Админ-панель</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Выйти</a>
                </div>
            </div>

        </div>
    </nav>
    <nav class="navbar navbar-expand-lg __light-sub-menu">
        <div class="container">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link sub-link_active" href="#">Цели и история</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Команда</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Преподаватели</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Выпускники</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Отзывы</a>
                </li>
            </ul>

        </div>
    </nav>

</div>

{{ render_bundle('manifest', config='V2') }}
{{ render_bundle('main', config='V2') }}
</body>
</html>