{% extends "v2/layouts/inner.jinja2" %}

{% block sprites %}{% include "sprites/ui.svg" %}{% endblock sprites %}

{% block content %}
    <div class="container page-content">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn--green" data-toggle="modal" data-target="#exampleModalCenter1">
            Простое всплывающее окно
        </button>
        <button type="button" class="btn btn--green" data-toggle="modal" data-target="#exampleModalCenter">
            Выбор варианта
        </button>
        <button type="button" class="btn btn--green" data-toggle="modal" data-target="#exampleModalCenter2">
            Редактирование
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Что-то произошло</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">{{ macros.svg_inline('cross') }}</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Мы вас оповещаем, что что-то произошло. Извините, но никаких вариантов, кроме как закрыть это
                            окно у вас нет :(</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog__md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLongTitle">Подтверждение действия</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">{{ macros.svg_inline('cross') }}</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Вы уверены, что хотите удалить «Лекция 1 Нейронные сети. Теоретические основания»?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn--outline_gray" data-dismiss="modal">Отменить</button>
                        <button type="button" class="btn btn-primary btn--green">Удалить</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog__lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLongTitle">Импортировать баллы по stepik.org ID</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">{{ macros.svg_inline('cross') }}</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form ui form__transparent">
                            <div class="field">
                                <div class="ui input">
                                    <label>Выбрать задание</label>
                                    <input type="text" placeholder="Логин">
                                </div>
                                <div class="help-text">
                                    Оценки будут импортированы для выбранного задания
                                </div>
                            </div>
                            <div class="field">
                                    <label>Выбрать задание</label>
                                <div class="ui input custom-file">
                                    <input type="file" class="custom-file-input" id="customFile" multiple>
                                    <label class="custom-file-label" for="customFile">Загрузить файл</label>
                                </div>
                                <p class="help-text">
                                    Значения должны быть разделены запятой. Первая строка - заголовки
                                </p>
                            </div>
                        <p><code>stepic_id,total  </br>1,7</code></p>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn--outline_gray" data-dismiss="modal">Отменить</button>
                        <button type="button" class="btn btn-primary btn--green">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}