<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Computer Science Center{% endblock title %}</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Computer Science Center — объединённая инициатива Школы анализа данных, Computer Science клуба и JetBrains.">
    <meta name="google-site-verification" content="pBs4x-E9VGlX-gA7WxCNEqcYB0TYJCSmcZtSeLBpEgk"/>

    <link rel="shortcut icon" type="image/png" href="{{ static("v2/img/favicon.png") }}">
    <link href="{{ static("v2/dist/css/main.css") }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400&amp;subset=cyrillic" rel="stylesheet">

    {% block stylesheets %} {% endblock stylesheets %}
</head>

{% import "v2/_macros.jinja2" as macros %}
{% import "v2/components/menu/_macros.jinja2" as top_menu %}

<body>

<div class="svg-inline">
    {% include "sprites/common.svg" %}
    {% include "sprites/index.svg" %}
    {% include "sprites/achieves.svg" %}
</div>

<div class="navbar-container">
    <nav class="navbar navbar-main{% if theme_class %} {{ theme_class }}{% endif %}">
        <div class="container">
            <a class="navbar-logo" href="/v2/pages/">{{ macros.svg_inline('logo-csc') }}</a>
                            <div class="menu-desktop-wrapper">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link _active" href="/v2/pages/about/">Выпускники 2018</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Статистика</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Фотографии</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Отзывы</a>
                        </li>
                    </ul>
                </div>
        </div>
    </nav>
</div>
<div class="container page-content">
    <h1 class="text-center">Выпускники 2018-го года в лицах</h1>

    <div class="user-cards">

        <div class="user-card">
            <a href="">
                <div class="user-card__photo">
                    <img src="/media/pages/graduates-2018/student.jpg" alt="">
                    <div class="achieves">
                        <div class="achieves__item" data-toggle="tooltip" title="Больше всех че-то сделал">
                            {{ macros.svg_inline('double-diplom') }}
                        </div>

                        <div class="achieves__item" data-toggle="tooltip" title="Tooltip on top">

                        </div>

                        <div class="achieves__item" data-toggle="tooltip" title="Tooltip on top">

                        </div>
                    </div>
                </div>
                <div class="user-card__details">
                    <a href="">Кaолосовский Михаил</a>
                </div>
            </a>
        </div>

    </div>

</div>

<div class="_dark pt-4">
    <div class="container page-content">
        <h1 class="text-center">Статистика</h1>
        <div class="row">
            <div class="col-lg-6 mt-5 mb-sm-5 text-center">
                <div class="row">
                    <div class="col-6">
                        <p class="infographic-count">72</p>
                        <p>Преподавателя</p>
                    </div>
                    <div class="col-6">
                        <p class="infographic-count">46</p>
                        <p>Курсов</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <p class="infographic-count">9 709</p>
                        <p>Часов в аудиториях</p>
                    </div>
                    <div class="col-6">
                        <p class="infographic-count">81</p>
                        <p>Уникальный проект</p>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 mt-5 mb-sm-5 text-center"><img class="img-fluid" src="/media/pages/graduates-2018/donate-chart.svg" alt=""></div>
        </div>
    </div>
</div>
    <div class="container page-content">
        <h1 class="text-center">Фотографии</h1>
        <div class="row">
            <div class="col-md-6 mt-3"><img class="img-fluid" src="/media/pages/graduates-2018/joint-photo-1.jpg" alt=""></div>
            <div class="col-md-6 mt-3"><img class="img-fluid" src="/media/pages/graduates-2018/joint-photo-2.jpg" alt=""></div>
            <div class="col mt-3">
                <img class="img-fluid" src="/media/pages/graduates-2018/joint-photo-3.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="csc-student-reviews">
    <div class="container page-content">
        <h1 class="text-center">Отзывы студентов</h1>
        <div class="card-columns _testimonials">
            <div class="card">
                <div class="testimonial">
                    <img class="img-rounded" width="74" height="74" src="/media/pages/index/student.png" alt="">
                    <div class="testimonial__details">
                        <div class="testimonial__author">
                            <h4>Евгений Игоревич Викулов</h4>
                            <span>Выпуск 2017, Разработка ПО</span>
                        </div>
                        <div class="testimonial__text">CS центр — это место, где сбываются мечты. Настоящая кладовая
                            знаний, где каждому
                            открыт
                            путь к желаемым знаниям и умениям. Интересные курсы, увлекательные практики,
                            живое
                            общение и обсуждение – здесь каждый найдет себе занятие по душе. Преподаватели,
                            руководители практик, кураторы, студенты – благодаря всем им в CS центре
                            образуется
                            невероятная атмосфера, настраивающая на позитивный лад и продуктивное обучение.
                            Здесь
                            очень круто и увлекательно!
                            <ul>
                                <li>огромный выбор направлений, в которых интересно развиваться,</li>
                                <li>преподаватели, на пары к которым действительно хочется ходить,</li>
                                <li>интересные темы практик (последняя переросла в мой диплом),</li>
                                <li>умнейшие люди, общаясь с которыми, хочется идти и развиваться дальше.</li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="testimonial">
                    <img class="img-rounded" width="74" height="74" src="/media/pages/index/student.png" alt="">
                    <div class="testimonial__details">
                        <h4 class="testimonial__author">Евгений Игоревич Викулов</h4>
                        <span>Выпуск 2017, Разработка ПО</span>
                        <p class="testimonial__text">CS центр — это место, где сбываются мечты. Настоящая кладовая
                            знаний, где каждому
                            открыт
                            путь к желаемым знаниям и умениям. Интересные курсы, увлекательные практики,
                            живое
                            общение и обсуждение – здесь каждый найдет себе занятие по душе. Преподаватели,
                            руководители практик, кураторы, студенты – благодаря всем им в CS центре
                            образуется
                            невероятная атмосфера, настраивающая на позитивный лад и продуктивное обучение.
                            Здесь
                            очень круто и увлекательно!</p>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="testimonial">
                    <img class="img-rounded" width="74" height="74" src="/media/pages/index/student.png" alt="">
                    <div class="testimonial__details">
                        <h4 class="testimonial__author">Евгений Игоревич Викулов</h4>
                        <span>Выпуск 2017, Разработка ПО</span>
                        <div class="testimonial__text">
                            И даже в трудный час, когда уж неизбежен крах,
                            Твой взор серьезный скажет, чтобы плечи я расправил.
                            Мне сил и воли придает лишь твое имя на устах,
                            Лишь ты меня ведёшь вперёд, лишь ты - Грудинин Павел.
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="testimonial">
                    <img class="img-rounded" width="74" height="74" src="/media/pages/index/student.png" alt="">
                    <div class="testimonial__details">
                        <h4 class="testimonial__author">Евгений Игоревич Викулов</h4>
                        <span>Выпуск 2017, Разработка ПО</span>
                        <p class="testimonial__text">CS центр — это место, где сбываются мечты. Настоящая кладовая
                            знаний, где каждому открыт
                            путь к желаемым знаниям и умениям. Интересные курсы, увлекательные практики,
                            живое общение и обсуждение – здесь каждый найдет себе занятие по душе. Преподаватели,
                            руководители практик, кураторы, студенты – благодаря всем им в CS центре
                            образуется
                            невероятная атмосфера, настраивающая на позитивный лад и продуктивное обучение.
                            Здесь очень круто и увлекательно!<br>
                            Я на выборы обычно не хожу, но в этот раз пойду голосовать за Грудинина. Кандидат от народа!
                        </p>
                    </div>
                </div>
            </div>

            <a href="" class="btn btn--small btn--outline_gray">Все отзывы</a>

        </div>

    </div>
</div>
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}
{##}
{#    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>#}
{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>#}
{#    <script>#}
{#        $(function () {#}
{#  $('[data-toggle="tooltip"]').tooltip({#}
{#      animation: false,#}
{#      placement: "auto",#}
{#      delay: { "show": 100, "hide": 0 }#}
{#  })#}
{#})#}
{#    </script>#}

</body>
</html>
