{% extends "v2/layouts/inner.jinja2" %}

{% block content %}
    <div class="container page-content">

        <div class="row">
            <div class="col-lg-9">
                <h2>Видео</h2>
                <section class="content-block">
                    {{ macros.video_iframe() }}
                </section>
            </div>
        </div>

    </div>
    <div class="container-fluid _dark py-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <h2>Программирование для освещения. Часть 2</h2>
                </div>
            </div>
            <div class="row mt-4 no-gutters">
                <div class="col-lg-7 pr-lg-6">
                    {{ macros.video_iframe() }}
                </div>
                <div class="col-lg-5">
                    <p>Список тем</p>
                    <div class="playlist-wrapper">
                        <ol class="ui playlist p-0">
                            <li>
                                <a href="#" class="item">
                                    {{ macros.svg_inline('play') }}
                                    {{ macros.svg_inline('pause') }}
                                    <div class="item__title">
                                        <p class="item__text">
                                            <span class="item__rank">1.</span>Утечки ресурсов и как их избежать.
                                            RAII
                                        </p>
                                    </div>
                                    <div class="list__duration">1:44:20</div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item _active">
                                    {{ macros.svg_inline('play') }}
                                    {{ macros.svg_inline('pause') }}
                                    <div class="item__title">
                                        <p class="item__text">
                                            <span class="item__rank">2.</span>Удобные возможности новых стандартов
                                        </p>
                                    </div>
                                    <div class="list__duration">58:26</div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item">
                                    {{ macros.svg_inline('play') }}
                                    {{ macros.svg_inline('pause') }}
                                    <div class="item__title">
                                        <p class="item__text">
                                            <span class="item__rank">3.</span>Программирование освещения. Модель
                                            Фонга
                                        </p>
                                    </div>
                                    <div class="list__duration">57:56</div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item">
                                    {{ macros.svg_inline('play') }}
                                    {{ macros.svg_inline('pause') }}
                                    <div class="item__title">
                                        <p class="item__text">
                                            <span class="item__rank">4.</span>Программирование освещения. Часть 2
                                        </p>
                                    </div>
                                    <div class="list__duration">1:07:02</div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item">
                                    {{ macros.svg_inline('play') }}
                                    {{ macros.svg_inline('pause') }}
                                    <div class="item__title">
                                        <p class="item__text">
                                            <span class="item__rank">1.</span>Утечки ресурсов и как их избежать.
                                            RAII
                                        </p>
                                    </div>
                                    <div class="list__duration">1:44:20</div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item">
                                    {{ macros.svg_inline('play') }}
                                    {{ macros.svg_inline('pause') }}
                                    <div class="item__title">
                                        <p class="item__text">
                                            <span class="item__rank">2.</span>Удобные возможности новых стандартов
                                        </p>
                                    </div>
                                    <div class="list__duration">58:26</div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item">
                                    {{ macros.svg_inline('play') }}
                                    {{ macros.svg_inline('pause') }}
                                    <div class="item__title">
                                        <p class="item__text">
                                            <span class="item__rank">3.</span>Программирование освещения. Модель
                                            Фонга
                                        </p>
                                    </div>
                                    <div class="list__duration">57:56</div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="item">
                                    {{ macros.svg_inline('play') }}
                                    {{ macros.svg_inline('pause') }}
                                    <div class="item__title">
                                        <p class="item__text">
                                            <span class="item__rank">4.</span>Программирование освещения. Часть 2
                                        </p>
                                    </div>
                                    <div class="list__duration">1:07:02</div>
                                </a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
