{% extends "v2/layouts/inner.jinja2" %}

{% block content %}
    <div class="container page-content">

        <div class="row">
            <div class="col-lg-9">
                <h2>Видео</h2>
                <section class="content-block">
                    {{ macros.video_iframe() }}
                </section>
            </div>
        </div>
        <section class="content-block">
            <h2 class="mb-8">Программирование для освещения. Часть 2</h2>
            <div class="row no-gutters">
                <div class="col-lg-7">
                    {{ macros.video_iframe() }}
                </div>
                <div class="col-lg-5">
                    <div class="playlist-wrapper">
                    <p class="playlist-wrapper__title">Список тем</p>
                        <ol class="ui list _divided _playlist">
                            <a href="#" class="list__item">
                                <div class="item__ordinal">1.</div>
                                <div class="item__text">
                                    Утечки ресурсов и как их избежать.
                                    RAII
                                </div>
                                <div class="item__duration">1:44:20</div>
                            </a>
                            <a href="#" class="list__item _active">
                                <div class="item__ordinal">2.</div>
                                <div class="item__text">
                                    Мосты, точки сочленения, компоненты сильной связности
                                </div>
                                <div class="item__duration">1:44:20</div>
                            </a>
                            <a href="#" class="list__item">
                                <div class="item__ordinal">3.</div>
                                <div class="item__text">
                                    Heavy-Light декомпозиция, Link-cut дерево
                                </div>
                                <div class="item__duration">9:28</div>
                            </a>
                            <a href="#" class="list__item">
                                <div class="item__ordinal">4.</div>
                                <div class="item__text">
                                    Комбинаторная оптимизация и потоковые задачи
                                </div>
                                <div class="item__duration">44:20</div>
                            </a>
                            <a href="#" class="list__item">
                                <div class="item__ordinal">4.</div>
                                <div class="item__text">
                                    Утечки ресурсов и как их избежать.
                                    RAII
                                </div>
                                <div class="item__duration">1:44:20</div>
                            </a>
                            <a href="#" class="list__item">
                                <div class="item__ordinal">5.</div>
                                <div class="item__text">
                                    Утечки ресурсов и как их избежать.
                                    RAII
                                </div>
                                <div class="item__duration">1:44:20</div>
                            </a>
                            <a href="#" class="list__item">
                                <div class="item__ordinal">6.</div>
                                <div class="item__text">
                                    Утечки ресурсов и как их избежать.
                                    RAII
                                </div>
                                <div class="item__duration">1:44:20</div>
                            </a>
                            <a href="#" class="list__item">
                                <div class="item__ordinal">7.</div>
                                <div class="item__text">
                                    Утечки ресурсов и как их избежать.
                                    RAII
                                </div>
                                <div class="item__duration">1:44:20</div>
                            </a>
                            <a href="#" class="list__item">
                                <div class="item__ordinal">8.</div>
                                <div class="item__text">
                                    Утечки ресурсов и как их избежать.
                                    RAII
                                </div>
                                <div class="item__duration">1:44:20</div>
                            </a>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
