{% extends "v1/layouts/base.jinja2" %}

{% block content %}
  <div class="container-fluid mt-0 pt-40 px-0">
    <div class="container pb-40">
      <div class="row text-center">
        <div class="col-xs-10 col-xs-offset-1">
          <h1 class="content-title mb-20">Добро пожаловать</h1>
          <p class="font-size-16">Привет! Мы&nbsp;рады видеть тебя среди студентов ШАДа.</p>
          <p class="font-size-16">Впереди много нового, сложного и&nbsp;интересного. Бери от&nbsp;ШАДа всё, знакомься, учись,
            совершенствуйся.
            Надеемся, что твой путь
            студента ШАДа будет полезным и&nbsp;увлекательным.<br>ШАД один раз&nbsp;&mdash; ШАД навсегда.</p>
          <small class="text-muted">Твои кураторы</small>
        </div>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <h2 class="h1 mt-40">Наша команда</h2>
        <p>В&nbsp;ШАДе твоими помощниками будут кураторы. Вот к&nbsp;кому и&nbsp;по&nbsp;каким вопросам ты&nbsp;можешь обращаться:</p>
        <img class="mt-20 img-circle" src="/static/v1/img/shad/welcome/fedotov.png" height="80" width="80" alt="Стас Федотов">
        <h3 class="mt-10">Стас Федотов</h3>
        <p>Стас&nbsp;&mdash; руководитель ШАДа в&nbsp;Москве. К&nbsp;Стасу можно общаться с&nbsp;вопросами по&nbsp;выбору направления
          обучения, выбору курсов, с&nbsp;фидбеком
          по&nbsp;обучению в&nbsp;ШАДе и&nbsp;философскими разговорами про судьбы образования. А&nbsp;ещё, если тебе интересно помогать на&nbsp;каком-нибудь
          из
          курсов, вести занятия или проверять домашки&nbsp;&mdash; или если ты&nbsp;хочешь предложить собственный курс, тоже пиши
          Стасу.</p>
        <img class="mt-20 img-circle" src="/static/v1/img/shad/welcome/esenina.png" height="80" width="80" alt="Саша Есенина">
        <h3 class="mt-10">Саша Есенина</h3>
        <p>С&nbsp;чем Саша может помочь: вопросы по&nbsp;учебным процессам, психологическая поддержка 24/7, организация рейвов, горячая
          линия по
          улучшению ШАД и&nbsp;истории про ШАД в&nbsp;СМИ. Обязательно пиши Саше, если хочешь оказаться героем публикации.</p>
        <img class="mt-20 img-circle" src="/static/v1/img/shad/welcome/tinicheva.png" height="80" width="80" alt="Карина Тиничева">
        <h3 class="mt-10">Карина Тиничева</h3>
        <p>Карина&nbsp;&mdash; продюсер вечеринок и&nbsp;веселого настроения, руководит менторской программой и&nbsp;точно знает, что будет
          на&nbsp;футболке экватора
          в&nbsp;следующем году. Пиши Карине, если хочешь участвовать в&nbsp;движухах</p>
        <img class="mt-20 img-circle" src="/static/v1/img/shad/welcome/holod.png" height="80" width="80" alt="Маша Холод">
        <h3 class="mt-10">Маша Холод</h3>
        <p>Маша знает всё про стажировки и&nbsp;работу в&nbsp;Яндексе, про менторство проектов и&nbsp;обучение в&nbsp;Сириусе в&nbsp;Сочи и&nbsp;стартап
          инициативы в
          ШАДе. Пиши Маше, если хочешь на&nbsp;стажировку и/или поехать в&nbsp;Сочи поучиться/преподавать на&nbsp;программы Яндекса.</p>
        <img class="mt-20 img-circle" src="/static/v1/img/shad/welcome/alieva.png" height="80" width="80" alt="Эля Алиева">
        <h3 class="mt-10">Эля Алиева</h3>
        <p>Эля&nbsp;&mdash; куратор студентов программы &laquo;Анализ интернет-данных&raquo; ВШЭ.</p>

        <div class="alert alert-info mt-40">По&nbsp;общим вопросам пиши на&nbsp;нашу общую почту <a
                href="mailto:shadcurators@yandex.ru">shadcurators@yandex.ru</a></div>
        <div class="alert alert-success">Все вопросы Стасу тоже лучше писать на&nbsp;почту кураторов. А&nbsp;вот остальным
          кураторам
          можно писать в&nbsp;телеграм.
        </div>

        <h2 class="h1 mt-40">Где мы&nbsp;общаемся</h2>
        <p>В&nbsp;основном рутинные новости по&nbsp;учебному процессу мы&nbsp;пишем в&nbsp;каналы и&nbsp;чаты (отмена занятий, анонсы
          лекций и&nbsp;т.д.), а&nbsp;большие
          новости дублируем в&nbsp;развернутом виде на&nbsp;почту (выпускной, общие дедлайны и&nbsp;т.д.). Обязательно вступи в&nbsp;нужные
          каналы и&nbsp;чаты, но
          только в&nbsp;свои. Из&nbsp;чужих чатов мы&nbsp;будем удалять.</p>
        <h3>Для всех-всех (ШАД + АИД + АД)</h3>
        <ul>
          <li><a href="https://t.me/joinchat/brSaG5OtZNtkNjQy" target="_blank" rel="nofollow">Чат 1&nbsp;года обучения (+ АИД
            и&nbsp;АД)</a></li>
          <li><a href="https://t.me/joinchat/WSV2-54SnhsQYy_G" target="_blank" rel="nofollow">Чат 2&nbsp;года обучения (+ АИД
            и&nbsp;АД)</a></li>
          <li><a href="https://t.me/joinchat/QLvwH4pJz1eHcuBX" target="_blank" rel="nofollow">Новости ШАД</a>&nbsp;&mdash; анонсы общих
            мероприятий и&nbsp;новостей
          </li>
          <li><a href="https://t.me/shadinyourheart" target="_blank" rel="nofollow">Канал-неформал</a>&nbsp;&mdash; интересные истории,
            рекомендации, подборки. Весь контент вокруг студентов, преподавателей и&nbsp;абитуриентов
            ШАДа.
          </li>
          <li><a href="https://t.me/yandexschooldatingbot" target="_blank" rel="nofollow">Бот Рэндом кофе</a>&nbsp;&mdash; еженедельные
            встречи.
          </li>
          <li><a href="https://t.me/YandexAcademy" target="_blank" rel="nofollow">Канал Академии Яндекса</a>&nbsp;&mdash; Школы, лектории,
            олимпиады и&nbsp;другие образовательные проекты, организованные Яндексом
            или при его
            участии.
          </li>
        </ul>

        <h3>Только для студентов магистратуры Анализ данных (МФТИ)</h3>
        <ul>
          <li><a href="https://t.me/joinchat/8h8WMZYKKOg0NzNi" target="_blank" rel="nofollow">Чат 1&nbsp;курса (базовый)</a></li>
          <li><a href="https://t.me/joinchat/SP70d6OgpI8wMDgy" target="_blank" rel="nofollow">Чат 1&nbsp;курса (продвинутый)</a></li>
          <li><a href="https://t.me/joinchat/6Ka3JsAOyfw2N2Ji" target="_blank" rel="nofollow">Чат 1&nbsp;курса (инфраструктура)</a></li>
          <li><a href="https://t.me/joinchat/S3L7G85Qy6wrkvei" target="_blank" rel="nofollow">Чат 2&nbsp;курса (базовый)</a></li>
          <li><a href="https://t.me/joinchat/TNhkmez5w-33Flso" target="_blank" rel="nofollow">Чат 2&nbsp;курса (продвинутый)</a></li>
          <li><a href="https://t.me/joinchat/HTC0d4D9-_kuHE3-" target="_blank" rel="nofollow">Чат 2&nbsp;курса (инфраструктура)</a></li>
        </ul>

        <h3>Только для студентов Анализ интернет-данных (НИУ ВШЭ)</h3>
        <p>Появятся позже!</p>
        <div class="alert alert-info">Еще есть чаты или каналы по&nbsp;отдельным курсам, они указаны в&nbsp;описании курсов в&nbsp;ЛМС</div>

        <h2 class="h1 mt-40">Как мы&nbsp;общаемся</h2>
        <p><a href="https://yandex.ru/lab/yalm/share?id=c1146d504eaa6c53bf5ad095801b982cb1baf27d6515746930e3932fa3378435&style=8"
              target="_blank" rel="nofollow">Примерно вот так</a>. А&nbsp;если серьезно, то&nbsp;есть несколько простых правил: </p>
        <ol start="0">
          <li>К&nbsp;нам можно обращаться на&nbsp;&laquo;ты&raquo;, мы&nbsp;такое любим.</li>
          <li>Очень просим вас соблюдать режим &laquo;кураторы тоже хотят спать&raquo; в&nbsp;телеграме с&nbsp;23:59 до&nbsp;9:00. Это
            значит не&nbsp;тегать нас в&nbsp;чатах и
            не&nbsp;писать в&nbsp;лс&nbsp;в&nbsp;это время. В&nbsp;телеграме есть замечательная функция отложенных сообщений. Есть
            беззвучные сообщения (правда они
            не&nbsp;действуют, если ты&nbsp;нас тегнешь).
          </li>
          <li>Понимать, что вопрос, заданный в&nbsp;пятницу вечером или в&nbsp;выходные, может остаться без ответа до&nbsp;понедельника.
            Иногда мы&nbsp;можем
            ответить и&nbsp;в&nbsp;выходные, но&nbsp;это скорее исключение, а&nbsp;не&nbsp;правило.
          </li>
          <li>Внимательно читать наши письма и&nbsp;сообщения. В&nbsp;90% случаев ты&nbsp;найдешь ответ на&nbsp;свой вопрос, если
            вчитаешься в&nbsp;текст какого-то
            объявления. Да, мы&nbsp;понимаем, что спросить быстрее, но&nbsp;вас очень много. Поберегите нас :)
          </li>
        </ol>

        <h2 class="h1 mt-40">До&nbsp;начала обучения</h2>
        <ol>
          <li>Для начала заполни свой профиль в&nbsp;ЛМС. Задача не&nbsp;сложная, но&nbsp;важная. За&nbsp;это ты&nbsp;сможешь получить не&nbsp;только
            наше кураторское
            уважение, но&nbsp;и&nbsp;ачивку (про это в&nbsp;разделе &laquo;А&nbsp;если не&nbsp;только учиться&raquo;).
          </li>
          <li>Тебе нужно определиться с&nbsp;направлением обучения. <strong>Для этого не&nbsp;пропусти письмо с&nbsp;формой, в&nbsp;которой
            мы&nbsp;попросим тебя
            указать выбранное направление.</strong></li>
        </ol>
        <p>Если в&nbsp;какой-то момент ты&nbsp;захочешь поменять направление, пиши на&nbsp;общую почту кураторов. При этом понимай, что
          нужно будет
          закрыть академическую разницу.</p>


        <div class="panel-group mt-40" role="tablist">
          <div class="panel panel-default">
            <div class="p-20 bg-gray" role="tab" id="collapseListGroupHeading1">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup1" aria-expanded="false"
                   aria-controls="collapseListGroup1">
                  🖖 Знакомство с&nbsp;ЛМС
                </a>
              </h4>
            </div>
            <div id="collapseListGroup1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1"
                 aria-expanded="false" style="height: 0px;">

              <div class="panel-body">
                <p>Ты&nbsp;сейчас находишься в&nbsp;ЛМС&nbsp;&mdash; неотъемлемой части твоего обучения в&nbsp;ШАДе. Тут ты&nbsp;сможешь
                  найти расписание, видео с
                  занятий, дополнительные материалы, домашки, оценки и&nbsp;вообще много чего. Давай-ка познакомимся с&nbsp;ней поближе,
                  хотя она и
                  так довольно интуитивная.</p>
                <p>Как только ты&nbsp;заходишь в&nbsp;ЛМС, у&nbsp;тебя открывается раздел с&nbsp;Заданиями. Он&nbsp;пока пуст, но&nbsp;тут
                  будут появляться домашки.
                  Да-да, вот так сразу, чтобы о&nbsp;них точно не&nbsp;забыли.</p>
                <img class="img-responsive" src="/static/v1/img/shad/welcome/LMStasks.jpg" alt="Раздел с заданиями">
                <p>В&nbsp;&laquo;Моем расписании&raquo; будут только те&nbsp;курсы, на&nbsp;которые ты&nbsp;запишешься. </p>
                <p>В&nbsp;Календаре будут абсолютно все курсы ШАДа.</p>
                <img class="img-responsive" src="/static/v1/img/shad/welcome/LMScalendar.jpg" alt="раздел с календарем">
                <br>
                <p>В&nbsp;&laquo;Моих курсах&raquo; в&nbsp;конце августа появятся курсы осеннего семестра и&nbsp;в&nbsp;этом&nbsp;же
                  разделе можно будет на&nbsp;них записаться.</p>
              </div>
            </div>
          </div>
        </div>

        <h2 class="h1 mt-40">Формат обучения</h2>
        <p>Пока наш формат обучения полуоффлайн. Предугадывая твой вопрос &laquo;это как вообще?&raquo;, объясняем.</p>
        <p>Вы&nbsp;можете ходить на&nbsp;занятия очно, а&nbsp;можете посещать онлайн-трансляции. Вопросы из&nbsp;трансляции можно задавать
          и&nbsp;голосом, и&nbsp;в&nbsp;чате.
          Ссылки на&nbsp;трансляции будут появляться <strong>за&nbsp;15&nbsp;минут</strong> до&nbsp;начала в&nbsp;соответствующем занятии
          курса. Бывают случаи, что
          преподаватель
          опаздывает, ломается провод, призраки бушуют, поэтому иногда ссылка может появиться ровно в&nbsp;18:00 или даже позже.</p>
        <p>А&nbsp;теперь важно:</p>
        <ol>
          <li>Все занятия записываются и&nbsp;публикуются в&nbsp;ЛМС. Все значит вообще все.</li>
          <li>Все занятия начинаются в&nbsp;18:00 и&nbsp;заканчиваются в&nbsp;21:00. Если есть какие-то изменения, то&nbsp;они указываются
            в&nbsp;ЛМС.
          </li>
          <li>Если занятие отменяется, это указывается в&nbsp;ЛМС и&nbsp;в&nbsp;чате курса.</li>
          <li>Бывает так, что те&nbsp;курсы, которые вы&nbsp;хотите сдать, идут в&nbsp;один и&nbsp;тот&nbsp;же день. Значит, на&nbsp;какой-то
            вы&nbsp;идете ногами (если
            выиграли в&nbsp;лотерею), а&nbsp;какой-то смотрите в&nbsp;записи.
          </li>
        </ol>

        <div class="panel-group mt-40" role="tablist">
          <div class="panel panel-default">
            <div class="p-20 bg-gray" role="tab" id="collapseListGroupHeading2">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup2" aria-expanded="false"
                   aria-controls="collapseListGroup2">
                  📚Процесс обучения
                </a>
              </h4>
            </div>
            <div id="collapseListGroup2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading2"
                 aria-expanded="false" style="height: 0px;">

              <div class="panel-body">
                <h3>Запись на&nbsp;курсы</h3>
                <p>Все материалы и&nbsp;видео курсов открыты всем студентам ШАДа. В&nbsp;некоторых курсах преподаватель может ограничить
                  доступ
                  только для записавшихся на&nbsp;курс студентов.</p>
                <p>Домашние задания видны только тем, кто записан на&nbsp;курс.</p>
                <p>Дедлайн записи на&nbsp;курс&nbsp;&mdash; мидтерм (конец октября и&nbsp;конец марта). То&nbsp;есть в&nbsp;самом начале
                  семестра ты&nbsp;можешь записаться на
                  курс, посмотреть, интересен&nbsp;ли он&nbsp;тебе и&nbsp;захочешь&nbsp;ли ты&nbsp;его сдавать. Если решишь не&nbsp;сдавать
                  курс&nbsp;&mdash; от&nbsp;него нужно
                  отписаться до&nbsp;мидтерма. Если курс остался в&nbsp;списке твоих курсов после мидтерма, мы&nbsp;считаем, что ты&nbsp;его
                  сдаешь.</p>
                <p>Один спецкурс можно сдавать один раз. Это не&nbsp;касается обязательных курсов и&nbsp;если ты&nbsp;уходишь в&nbsp;академ.</p>
                <p>Нельзя улучшить оценку за&nbsp;курс, даже за&nbsp;обязательный. То&nbsp;есть если&nbsp;ты, например, сдашь алгоритмы на&nbsp;зачет,
                  потом уйдешь
                  в&nbsp;академ, вернешься и&nbsp;захочешь их&nbsp;сдать на&nbsp;отлично, мы&nbsp;не&nbsp;разрешим тебе это сделать.</p>

                <h3>Количество сданных курсов</h3>
                <p>Каждый студент должен сдать хотя&nbsp;бы на&nbsp;зачет <strong>три курса в&nbsp;каждом семестре</strong>. Часть курсов
                  являются
                  обязательными и&nbsp;определяются отделением, на&nbsp;котором вы&nbsp;учитесь. Остальные являются факультативными
                  спецкурсами и&nbsp;студент
                  может выбрать любые из&nbsp;них. Обязательные курсы одного отделения могут быть засчитаны как спецкурсы другого. </p>

                <p><strong>Если ты&nbsp;работаешь в&nbsp;Яндексе</strong> в&nbsp;течение полного семестра на&nbsp;полный рабочий день, ты&nbsp;можешь
                  закрыть один
                  спецкурс работой.
                  Спецкурс это необязательный курс. То&nbsp;есть первые алгоритмы закрыть работой не&nbsp;получится. И&nbsp;&laquo;закрыть&raquo;
                  означает просто его
                  не&nbsp;сдавать. Это не&nbsp;означает, что в&nbsp;дипломе у&nbsp;тебя будет прописан формальный Питон, который на&nbsp;самом
                  деле пройден не
                  был.</p>

                <p>Если хочешь, ты&nbsp;можешь взять больше трех курсов в&nbsp;семестре и&nbsp;зачесть потом один из&nbsp;них в&nbsp;следующем
                  семестре. Только,
                  пожалуйста, не&nbsp;переоцени свои силы.</p>

                <h3>Расписание</h3>
                <p>Мы&nbsp;верим, что вы&nbsp;все взрослые мальчики и&nbsp;девочки, а&nbsp;потому во&nbsp;вкладке &laquo;Полезное&raquo;
                  будет страничка с&nbsp;полным постоянным
                  расписанием. Бывают случаи, когда преподаватели не&nbsp;успевают обновить информацию о&nbsp;курсах в&nbsp;календаре, но&nbsp;это
                  не&nbsp;значит,
                  что занятия не&nbsp;будет. Поэтому можно ориентироваться на&nbsp;то&nbsp;расписание, что опубликовано
                  в&nbsp;Полезном.</p>

                <h3>Система оценивания</h3>
                <p>Система оценивания на&nbsp;каждом курсе своя. Поэтому мы&nbsp;настоятельно рекомендуем внимательно изучать этот пункт в&nbsp;описании
                  курса. Пойми, что тебе нужно сделать на&nbsp;&laquo;отлично&raquo;, &laquo;хорошо&raquo; и&nbsp;&laquo;зачет&raquo;.</p>

                <h3>Академический отпуск</h3>
                <p>Наша нелюбимая, но&nbsp;все-таки нужная часть: в&nbsp;ШАДе можно два раза взять академический отпуск на&nbsp;год.
                  Предполагается, что в
                  академе ты&nbsp;отдыхаешь от&nbsp;нас, набираешься сил и&nbsp;потом возвращаешься. Однако ситуации бывают разные, поэтому
                  с&nbsp;этого года
                  мы&nbsp;решили разрешать сдавать один курс из&nbsp;академа (<strong>только в&nbsp;том случае, если у&nbsp;тебя закрыт
                    первый семестр</strong>).
                  Для этого нужно написать кураторам, к&nbsp;какому курсу тебе оставить доступ. К&nbsp;остальным материалам доступ
                  отберется.</p>
                <p>Чтобы уйти в&nbsp;академ, нужно написать об&nbsp;этом кураторам на&nbsp;почту shadcurators@yandex.ru. Чтобы вернуться из&nbsp;академа,
                  нужно
                  сделать то&nbsp;же самое.</p>

                <h3>Сдвинуть срок сдачи задания</h3>
                <p>Загруженность на&nbsp;работе или на&nbsp;основном месте учебы не&nbsp;является уважительной причиной для продления
                  сроков сдачи. Обычно
                  сроки могут быть продлены из-за болезни или других обстоятельств непреодолимой силы. Об&nbsp;этом нужно обязательно
                  предупреждать куратора и&nbsp;преподавателей.</p>
              </div>
            </div>
          </div>
        </div>

        <h2 class="h1 mt-40">Программа обучения</h2>
        <div class="alert alert-info mt-30">Если ты&nbsp;отучился хотя&nbsp;бы один семестр по&nbsp;старой программе
          (например, поступление
          было в&nbsp;2020&nbsp;году), то&nbsp;для тебя программа обучения выглядит так:
        </div>

        <div class="panel-group mt-20" role="tablist">
          <div class="panel panel-default">
            <div class="p-20 bg-gray" role="tab" id="collapseListGroupHeading3">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup3" aria-expanded="false"
                   aria-controls="collapseListGroup3">
                  1&nbsp;семестр
                </a>
              </h4>
            </div>
            <div id="collapseListGroup3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading3"
                 aria-expanded="false" style="height: 0px;">

              <div class="panel-body">
                <p>Обязательные курсы трека <strong>Data Science:</strong></p>
                <ul>
                  <li>Алгоритмы и&nbsp;структуры данных</li>
                  <li>Язык Python</li>
                  <li>Теория вероятностей</li>
                  <li>Линейная алгебра <strong>или</strong> Дискретный анализ</li>
                </ul>
                <p>Обязательные курсы трека <strong>Разработчик машинного обучения:</strong></p>
                <ul>
                  <li>Алгоритмы и&nbsp;структуры данных</li>
                  <li>Обучение языку С++</li>
                  <li>Теория вероятностей</li>
                  <li>Линейная алгебра <strong>или</strong> Дискретный анализ</li>
                </ul>
                <p>Обязательные курсы трека <strong>Анализ данных в&nbsp;прикладных науках:</strong></p>
                <ul>
                  <li>Алгоритмы и&nbsp;структуры данных</li>
                  <li>Восстановление зависимостей с&nbsp;использованием эмпирических данных</li>
                  <li>Основы стохастики. Стохастические модели</li>
                </ul>
                <p>Обязательные курсы трека <strong>Инфраструктура больших данных:</strong></p>
                <ul>
                  <li>Алгоритмы и&nbsp;структуры данных</li>
                  <li>Обучение языку С++</li>
                  <li>Архитектура компьютера и&nbsp;операционные системы</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="panel-group mt-20" role="tablist">
          <div class="panel panel-default">
            <div class="p-20 bg-gray" role="tab" id="collapseListGroupHeading4">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup4" aria-expanded="false"
                   aria-controls="collapseListGroup4">
                  2&nbsp;семестр
                </a>
              </h4>
            </div>
            <div id="collapseListGroup4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading4"
                 aria-expanded="false" style="height: 0px;">

              <div class="panel-body">
                <p>Обязательные курсы трека <strong>Data Science:</strong></p>
                <ul>
                  <li>Машинное обучение, часть 1</li>
                  <li>Прикладная математическая статистика в&nbsp;машинном обучении</li>
                  <li>И&nbsp;ещё хотя&nbsp;бы один спецкурс по&nbsp;выбору</li>
                </ul>
                <p>Обязательные курсы трека <strong>Разработчик машинного обучения:</strong></p>
                <ul>
                  <li>Машинное обучение, часть 1</li>
                  <li>Алгоритмы и&nbsp;структуры данных, часть 2&nbsp;<strong>или</strong> Обучение языку&nbsp;С++, часть 2&nbsp;<strong>или</strong>
                    Язык Go&nbsp;<strong>или</strong> Язык Python
                  </li>
                  <li>И&nbsp;ещё хотя&nbsp;бы один спецкурс по&nbsp;выбору</li>
                </ul>
                <p>Обязательные курсы трека <strong>Анализ данных в&nbsp;прикладных науках:</strong></p>
                <ul>
                  <li>Машинное обучение, часть 1</li>
                  <li>Прикладная математическая статистика в&nbsp;машинном обучении</li>
                  <li>И&nbsp;ещё хотя&nbsp;бы один спецкурс по&nbsp;выбору</li>
                </ul>
                <p>Обязательные курсы трека <strong>Инфраструктура больших данных:</strong></p>
                <ul>
                  <li>Алгоритмы и&nbsp;структуры данных, часть 2</li>
                  <li>Обучение языку&nbsp;С++, часть 2</li>
                  <li>Theory and Practice of&nbsp;Concurrency <strong>или</strong> Язык Go</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="panel-group mt-20" role="tablist">
          <div class="panel panel-default">
            <div class="p-20 bg-gray" role="tab" id="collapseListGroupHeading5">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup5" aria-expanded="false"
                   aria-controls="collapseListGroup5">
                  3&nbsp;семестр
                </a>
              </h4>
            </div>
            <div id="collapseListGroup5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading5"
                 aria-expanded="false" style="height: 0px;">

              <div class="panel-body">
                <p>Обязательные курсы трека <strong>Data Science:</strong></p>
                <ul>
                  <li>Машинное обучение, часть 2</li>
                  <li>Обязательный выбор:
                    <ul>
                      <li>Natural Language Processing <strong>или</strong> Компьютерное зрение <strong>или</strong> Глубинные зрение и
                        графика
                      </li>
                    </ul>
                  </li>
                  <li>И&nbsp;ещё хотя&nbsp;бы один спецкурс</li>
                </ul>
                <p>Обязательные курсы трека <strong>Разработчик машинного обучения:</strong></p>
                <ul>
                  <li>Машинное обучение, часть 2</li>
                  <li>Обязательный выбор:
                    <ul>
                      <li>Natural Language Processing <strong>или</strong> Компьютерное зрение <strong>или</strong> Байесовские методы в
                        машинном обучении
                      </li>
                    </ul>
                  </li>
                  <li>И&nbsp;ещё хотя&nbsp;бы один спецкурс</li>
                </ul>
                <p>Обязательные курсы трека <strong>Анализ данных в&nbsp;прикладных науках:</strong></p>
                <ul>
                  <li>Выпуклый анализ и&nbsp;оптимизация</li>
                  <li>Работа над проектом</li>
                  <li>Ещё хотя&nbsp;бы один курс!</li>
                  <li>
                    <strong>Настоятельно рекомендуется:</strong> <br>
                    Машинное обучение, часть 2
                  </li>
                </ul>
                <p>Обязательные курсы трека <strong>Инфраструктура больших данных:</strong></p>
                <ul>
                  <li>Алгоритмы во&nbsp;внешней памяти</li>
                  <li>Распределённые системы</li>
                  <li>Для тех, кто ещё не&nbsp;сдал, обязателен также:
                    <ul>
                      <li>Архитектура компьютера и&nbsp;операционные системы</li>
                      <li>И&nbsp;ещё спецкурсы, чтобы всего получилось три курса:)</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="panel-group mt-20" role="tablist">
          <div class="panel panel-default">
            <div class="p-20 bg-gray" role="tab" id="collapseListGroupHeading6">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup6" aria-expanded="false"
                   aria-controls="collapseListGroup6">
                  4&nbsp;семестр
                </a>
              </h4>
            </div>
            <div id="collapseListGroup6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading6"
                 aria-expanded="false" style="height: 0px;">

              <div class="panel-body">
                <p>Обязательные курсы трека <strong>Data Science:</strong> <br>
                  Нет таких :) Но&nbsp;нужно сдать три курса!</p>
                <p>Обязательные курсы трека <strong>Разработчик машинного обучения:</strong><br>
                  Нет таких :) Но&nbsp;нужно сдать три курса!</p>
                <p>Обязательные курсы трека <strong>Анализ данных в&nbsp;прикладных науках:</strong></p>
                <ul>
                  <li>Работа над проектом!</li>
                  <li>Хотя&nbsp;бы два спецкурса по&nbsp;выбору!</li>
                </ul>
                <p>Обязательные курсы трека <strong>Инфраструктура больших данных:</strong></p>
                <p>Нужно будет выбрать хотя&nbsp;бы два курса из&nbsp;следующих:</p>
                <ul>
                  <li>Theory and Practice of&nbsp;Concurrency</li>
                  <li>Базы данных</li>
                  <li>Компьютерные сети</li>
                  <li>Язык Go</li>
                  <li>Криптографические протоколы</li>
                  <li>Алгоритмы и&nbsp;структуры данных, часть&nbsp;2 (если ещё не&nbsp;сдавали)</li>
                  <li>Обучение языку&nbsp;С++, часть&nbsp;2 (если ещё не&nbsp;сдавали)</li>
                  <li>И&nbsp;еще один, чтобы всего было три :)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>


        <div class="alert alert-info mt-50">Если ты&nbsp;не&nbsp;закрыл ни&nbsp;один семестр или поступил в&nbsp;2021&nbsp;году,
          то&nbsp;учиться будешь по
          этой программе:
        </div>

        <div class="panel-group mt-20" role="tablist">
          <div class="panel panel-default">
            <div class="p-20 bg-gray" role="tab" id="collapseListGroupHeading7">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup7" aria-expanded="false"
                   aria-controls="collapseListGroup7">
                  1&nbsp;семестр
                </a>
              </h4>
            </div>
            <div id="collapseListGroup7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading7"
                 aria-expanded="false" style="height: 0px;">

              <div class="panel-body">
                <p>Обязательные курсы трека <strong>Data Science:</strong></p>
                <ul>
                  <li>Алгоритмы и&nbsp;структуры данных</li>
                  <li>Язык Python</li>
                  <li>Машинное обучение, часть 1</li>
                </ul>
                <p>Обязательные курсы трека <strong>Разработчик машинного обучения:</strong></p>
                <ul>
                  <li>Алгоритмы и&nbsp;структуры данных</li>
                  <li>Обучение языку С++</li>
                  <li>Машинное обучение, часть 1</li>
                </ul>
                <p>Обязательные курсы трека <strong>Анализ данных в&nbsp;прикладных науках:</strong></p>
                <ul>
                  <li>Алгоритмы и&nbsp;структуры данных</li>
                  <li>Машинное обучение, часть 1</li>
                  <li>Основы стохастики. Стохастические модели</li>
                </ul>
                <p>Обязательные курсы трека <strong>Инфраструктура больших данных:</strong></p>
                <ul>
                  <li>Алгоритмы и&nbsp;структуры данных</li>
                  <li>Обучение языку С++</li>
                  <li>Архитектура компьютера и&nbsp;операционные системы</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="panel-group mt-20" role="tablist">
          <div class="panel panel-default">
            <div class="p-20 bg-gray" role="tab" id="collapseListGroupHeading8">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup8" aria-expanded="false"
                   aria-controls="collapseListGroup8">
                  2&nbsp;семестр
                </a>
              </h4>
            </div>
            <div id="collapseListGroup8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading8"
                 aria-expanded="false" style="height: 0px;">

              <div class="panel-body">
                <p>Обязательные курсы трека <strong>Data Science:</strong></p>
                <ul>
                  <li>Машинное обучение, часть 2</li>
                  <li>Прикладная математическая статистика в&nbsp;машинном обучении</li>
                  <li>И&nbsp;ещё хотя&nbsp;бы один спецкурс по&nbsp;выбору</li>
                </ul>
                <p>Обязательные курсы трека <strong>Разработчик машинного обучения:</strong></p>
                <ul>
                  <li>Машинное обучение, часть 2</li>
                  <li>Алгоритмы и&nbsp;структуры данных, часть 2&nbsp;<strong>или</strong> Обучение языку&nbsp;С++, часть 2&nbsp;<strong>или</strong>
                    Язык Go
                  </li>
                  <li>И&nbsp;ещё хотя&nbsp;бы один спецкурс по&nbsp;выбору</li>
                </ul>
                <p>Обязательные курсы трека <strong>Анализ данных в&nbsp;прикладных науках:</strong></p>
                <ul>
                  <li>Прикладная математическая статистика в&nbsp;машинном обучении</li>
                  <li>Машинное обучение, часть 2</li>
                  <li>И&nbsp;ещё хотя&nbsp;бы один спецкурс по&nbsp;выбору</li>
                </ul>
                <p>Обязательные курсы трека <strong>Инфраструктура больших данных:</strong></p>
                <ul>
                  <li>Алгоритмы и&nbsp;структуры данных, часть 2</li>
                  <li>Обучение языку&nbsp;С++, часть 2</li>
                  <li>Theory and Practice of&nbsp;Concurrency <strong>или</strong> Язык Go</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="panel-group mt-20" role="tablist">
          <div class="panel panel-default">
            <div class="p-20 bg-gray" role="tab" id="collapseListGroupHeading9">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup9" aria-expanded="false"
                   aria-controls="collapseListGroup9">
                  3&nbsp;семестр
                </a>
              </h4>
            </div>
            <div id="collapseListGroup9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading9"
                 aria-expanded="false" style="height: 0px;">

              <div class="panel-body">
                <p>Обязательные курсы трека <strong>Data Science:</strong></p>
                <ul>
                  <li>Обязательный выбор:<br>
                    Natural Language Processing <strong>или</strong> Компьютерное зрение
                  </li>
                  <li>И&nbsp;ещё хотя&nbsp;бы два спецкурса</li>
                </ul>
                <p>Обязательные курсы трека <strong>Разработчик машинного обучения:</strong></p>
                <ul>
                  <li>Обязательный выбор:<br>
                    Natural Language Processing <strong>или</strong> Компьютерное зрение <strong>или</strong> Байесовские методы в&nbsp;машинном
                    обучении
                  </li>
                  <li>И&nbsp;ещё хотя&nbsp;бы два спецкурса</li>
                </ul>
                <p>Обязательные курсы трека <strong>Анализ данных в&nbsp;прикладных науках:</strong></p>
                <ul>
                  <li>Выпуклый анализ и&nbsp;оптимизация</li>
                  <li>Работа над проектом</li>
                  <li>Ещё хотя&nbsp;бы один курс!</li>
                  <li><strong>Настоятельно рекомендуется (для тех, кто будет на&nbsp;2&nbsp;курсе в&nbsp;2022/23&nbsp;году):</strong>
                    Восстановление зависимостей с&nbsp;использованием эмпирических данных
                  </li>
                </ul>
                <p>Обязательные курсы трека <strong>Инфраструктура больших данных:</strong></p>
                <ul>
                  <li>Алгоритмы во&nbsp;внешней памяти</li>
                  <li>Распределённые системы</li>
                  <li>Для тех, кто ещё не&nbsp;сдал, обязателен также:
                    <ul>
                      <li>Архитектура компьютера и&nbsp;операционные системы</li>
                      <li>И&nbsp;ещё спецкурсы, чтобы всего получилось три курса:)</li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="panel-group mt-20" role="tablist">
          <div class="panel panel-default">
            <div class="p-20 bg-gray" role="tab" id="collapseListGroupHeading10">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup10" aria-expanded="false"
                   aria-controls="collapseListGroup10">
                  4&nbsp;семестр
                </a>
              </h4>
            </div>
            <div id="collapseListGroup10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading10"
                 aria-expanded="false" style="height: 0px;">

              <div class="panel-body">
                <p>Обязательные курсы трека <strong>Data Science:</strong> <br>Нет таких :) Но&nbsp;нужно сдать три курса!</p>
                <p>Обязательные курсы трека <strong>Разработчик машинного обучения:</strong> <br>Нет таких :) Но&nbsp;нужно сдать три
                  курса!</p>
                <p>Обязательные курсы трека <strong>Анализ данных в&nbsp;прикладных науках:</strong></p>
                <ul>
                  <li>Работа над проектом!</li>
                  <li>Хотя&nbsp;бы два спецкурса по&nbsp;выбору!</li>
                </ul>
                <p>Обязательные курсы трека <strong>Инфраструктура больших данных:</strong></p>
                <ul>
                  <li>Нужно будет выбрать хотя&nbsp;бы два курса из&nbsp;следующих:
                    <ul>
                      <li>Theory and Practice of&nbsp;Concurrency</li>
                      <li>Базы данных</li>
                      <li>Компьютерные сети</li>
                      <li>Язык Go</li>
                      <li>Криптографические протоколы</li>
                      <li>Алгоритмы и&nbsp;структуры данных, часть&nbsp;2 (если ещё не&nbsp;сдавали)</li>
                      <li>Обучение языку&nbsp;С++, часть&nbsp;2 (если ещё не&nbsp;сдавали)</li>
                    </ul>
                  </li>
                  <li>И&nbsp;еще один, чтобы всего было три :)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>


        <div class="alert alert-info mt-50">Для тех, кто поступал по&nbsp;альтернативному треку
        </div>

        <div class="panel-group mt-20" role="tablist">
          <div class="panel panel-default">
            <div class="p-20 bg-gray" role="tab" id="collapseListGroupHeading11">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup11" aria-expanded="false"
                   aria-controls="collapseListGroup11">
                  1&nbsp;семестр
                </a>
              </h4>
            </div>
            <div id="collapseListGroup11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading11"
                 aria-expanded="false" style="height: 0px;">
              <div class="panel-body">
                <ul>
                  <li>Математика для Data Science</li>
                  <li>Алгоритмы и&nbsp;структуры данных, часть 1</li>
                  <li>Обучение языку&nbsp;С++, часть 1&nbsp;<strong>или</strong> Язык Python</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="panel-group mt-20" role="tablist">
          <div class="panel panel-default">
            <div class="p-20 bg-gray" role="tab" id="collapseListGroupHeading12">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup12" aria-expanded="false"
                   aria-controls="collapseListGroup12">
                  2&nbsp;семестр
                </a>
              </h4>
            </div>
            <div id="collapseListGroup12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading12"
                 aria-expanded="false" style="height: 0px;">

              <div class="panel-body">
                <ul>
                  <li>Машинное обучение, часть&nbsp;1 (для всех направлений, кроме инфраструктуры)</li>
                  <li>Остальное как на&nbsp;выбранном направлении</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="panel-group mt-20" role="tablist">
          <div class="panel panel-default">
            <div class="p-20 bg-gray" role="tab" id="collapseListGroupHeading13">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup13" aria-expanded="false"
                   aria-controls="collapseListGroup13">
                  3&nbsp;семестр
                </a>
              </h4>
            </div>
            <div id="collapseListGroup13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading13"
                 aria-expanded="false" style="height: 0px;">

              <div class="panel-body">
                <ul>
                  <li>Машинное обучение, часть&nbsp;2 (для всех направлений, кроме инфраструктуры)</li>
                  <li>Остальное как на&nbsp;выбранном направлении</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="panel-group mt-20" role="tablist">
          <div class="panel panel-default">
            <div class="p-20 bg-gray" role="tab" id="collapseListGroupHeading14">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup14" aria-expanded="false"
                   aria-controls="collapseListGroup14">
                  4&nbsp;семестр
                </a>
              </h4>
            </div>
            <div id="collapseListGroup14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading14"
                 aria-expanded="false" style="height: 0px;">

              <div class="panel-body">
                <p>Как на&nbsp;выбранном направлении</p>
              </div>
            </div>
          </div>
        </div>

        <h2 class="h1 mt-40">Дополнительно</h2>

        <div class="panel-group mt-40" role="tablist">
          <div class="panel panel-default">
            <div class="p-20 bg-gray" role="tab" id="collapseListGroupHeading15">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup15" aria-expanded="false"
                   aria-controls="collapseListGroup15">
                  🔥 Дедлайны
                </a>
              </h4>
            </div>
            <div id="collapseListGroup15" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading15"
                 aria-expanded="false" style="height: 0px;">

              <div class="panel-body">
                <p><strong>Мидтерм</strong>&nbsp;&mdash; студентам первого курса необходимо к&nbsp;1&nbsp;ноября сдать по&nbsp;одному
                  заданию по&nbsp;каждому из&nbsp;трех
                  курсов, входящих в
                  обязательный минимум, в&nbsp;осеннем семестре, аналогично к&nbsp;1&nbsp;апреля в&nbsp;весеннем семестре.</p>
                <p>В&nbsp;ШАДе нет сессии. Оценка в&nbsp;конце семестра выставляется по&nbsp;результатам твоей работы в&nbsp;семестре.
                  Осенний семестр
                  заканчивается <strong>20&nbsp;декабря</strong>. Если ты&nbsp;хочешь получить что-то, выше &laquo;зачета&raquo;, нужно
                  успеть сдать все курсы к
                  этой дате. Далее
                  преподаватели могут принимать &laquo;хвосты&raquo; у&nbsp;задолжников.</p>
                <ul>
                  <li>К&nbsp;20&nbsp;декабря нужно сдать как минимум 1&nbsp;курс.</li>
                  <li>К&nbsp;15&nbsp;января нужно сдать как минимум 2&nbsp;курса.</li>
                  <li>К&nbsp;1&nbsp;февраля нужно сдать все 3&nbsp;курса.</li>
                </ul>
                <p>Несоблюдение этих сроков приводит к&nbsp;отчислению.</p>
                <p>Сроки весеннего семестра:</p>
                <ul>
                  <li>31&nbsp;мая&nbsp;&mdash; окончание семестра, должен быть сдан как минимум 1&nbsp;курс.</li>
                  <li>К&nbsp;20&nbsp;июня нужно сдать как минимум 2&nbsp;курса.</li>
                  <li>К&nbsp;10&nbsp;июля&nbsp;&mdash; нужно сдать все 3&nbsp;курса.</li>
                </ul>

                <div class="alert alert-danger mt-20">Исключение составляет четвертый семестр, окончательный дедлайн&nbsp;&mdash;
                  20&nbsp;мая,
                  после него сдавать курсы нельзя. Это связано с&nbsp;тем, что к&nbsp;выпускному нужно успеть подготовить сертификаты.
                </div>
                <p><strong>Обращай внимание на&nbsp;дедлайны, указанные на&nbsp;страничках курсов</strong></p>
              </div>
            </div>
          </div>
        </div>

        <div class="panel-group mt-20" role="tablist">
          <div class="panel panel-default">
            <div class="p-20 bg-gray" role="tab" id="collapseListGroupHeading16">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapseListGroup16" aria-expanded="false"
                   aria-controls="collapseListGroup16">
                  👯‍♀️А если не&nbsp;только учиться?
                </a>
              </h4>
            </div>
            <div id="collapseListGroup16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading16"
                 aria-expanded="false" style="height: 0px;">

              <div class="panel-body">
                <p>Кроме учебы в&nbsp;ШАДе есть еще сообщество таких&nbsp;же классных, умных, замотивированных студентов как и&nbsp;ты. Мы&nbsp;делаем
                  все,
                  чтобы познакомить тебя с&nbsp;как можно большим количеством людей. Считаем, что это может помочь развить тебе софтскиллс
                  и
                  найти классных людей, которые пригодятся тебе по&nbsp;жизни.</p>

                <h3>Проводники в&nbsp;мир ШАДа</h3>
                <p>В&nbsp;ШАДе есть менторы-старшекурсники. Мы&nbsp;ласково называем их&nbsp;Джедаи. Джедаи знают, какие курсы нужно
                  выбрать, чтобы не
                  выгореть от&nbsp;учебы, как подойти к&nbsp;самому сложному курсу, чтобы сдать его на&nbsp;пять (или просто сдать), какие
                  вечеринки надо
                  посещать, чтобы получить больше всего удовольствия. Каждый студент будет входить в&nbsp;подгруппу из&nbsp;20-25 человек с&nbsp;1-2
                  Джедаями. Джедаи создадут маленький чатик, в&nbsp;котором можно будет общаться, задавать любые вопросы и&nbsp;обсуждать
                  кураторов,
                  пока они не&nbsp;видят.</p>

                <h3>Что&nbsp;же бывает в&nbsp;ШАДе?</h3>
                <p>Постоянно:</p>
                <ul>
                  <li>Пикник</li>
                  <li>Хэллоуин</li>
                  <li>Новый год</li>
                  <li>Экватор</li>
                  <li>Выпускной</li>
                </ul>
                <p>На&nbsp;этих мероприятиях кураторы и&nbsp;джедаи придумывают, как вас познакомить друг с&nbsp;другом и&nbsp;занять ваше
                  время так, чтобы
                  было весело. Приходить на&nbsp;внеучебные мероприятия не&nbsp;обязательно, но&nbsp;мы&nbsp;рекомендуем сходить хотя&nbsp;бы
                  на&nbsp;два, чтобы понять,
                  что это такое.</p>
                <p>Не&nbsp;постоянно:</p>
                <ul>
                  <li>Тренинги на&nbsp;различные скиллы. Возникают по&nbsp;запросу или по&nbsp;вдохновлению куратора</li>
                  <li>Лекции от&nbsp;экспертов. На&nbsp;разные темы, обычно появляются курсами в&nbsp;ЛМС или публикуются анонсы в&nbsp;канале
                    &laquo;Новости ШАД&raquo;
                  </li>
                  <li>Игротеки. Собираемся раз в&nbsp;два месяца, чтобы увидеться, поболтать и&nbsp;поиграть во&nbsp;что-то конкретное или
                    не&nbsp;очень
                  </li>
                  <li>Походы в&nbsp;бары. Это наше любимое: бронировать столик в&nbsp;классном баре на&nbsp;20-30&nbsp;человек, ммммм</li>
                  <li>Любая активность, которую хочешь провести именно&nbsp;ты. Турнир по&nbsp;шахматам? Круто! Забег на&nbsp;роликах?
                    Поехали! Синхронное
                    плавание? Вообще отлично!
                  </li>
                </ul>

                <div class="alert alert-info mt-20">Если есть идея того, что можно сделать&nbsp;&mdash; пиши Карине, вместе
                  придумаете как это реализовать :)
                </div>
                <p>В&nbsp;этом году мы&nbsp;решили запустить <strong>ачивки студентов</strong>! Пока ачивки не&nbsp;появились в&nbsp;ЛМС,
                  они будут физическими
                  и&nbsp;их&nbsp;можно будет наклеить на&nbsp;ноутбук или рабочую тетрадь(кек). Чтобы получить ачивку напиши Карине и&nbsp;скажи,
                  что ты
                  выполнил условие для ачивки.</p>
                <p>Сейчас ачивку можно получить&nbsp;за:</p>
                <ul>
                  <li>Заполненный профиль в&nbsp;ЛМС. Информация и&nbsp;фото</li>
                  <li>Первый поход на&nbsp;очное мероприятие</li>
                  <li>Волонтерство: проведение собеседований, проверку экзаменов, волонтерство на&nbsp;выпускном ШАД и&nbsp;др</li>
                </ul>
                <p>Если коротко, у&nbsp;нас классно. Пробуй как можно больше, чтобы понять, что тебе интересно 🔥</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid py-40 mt-40 bg-danger">
    <div class="container">

      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <h2 class="mb-20">🆘 Советы по&nbsp;выживанию</h2>
          <div class="card p-20 mb-10">
            Даже если ты&nbsp;гуру таймменеджмента и&nbsp;абсолютно точно знаешь, сколько времени понадобится на&nbsp;прохождение
            курса, всегда
            открывай и&nbsp;просматривай домашнее задание в&nbsp;день его выдачи. Задача с&nbsp;ревью может подкрасться
            незаметно!
          </div>

          <div class="card p-20 mb-10">
            Если возник вопрос &laquo;а&nbsp;не&nbsp;устроиться&nbsp;ли мне на&nbsp;стажировку или работу?&raquo;, подожди с&nbsp;ним
            хотя&nbsp;бы до&nbsp;второго семестра.
            Первый семестр в&nbsp;ШАДе самый сложный: вокруг много нового, нужно освоиться. Конечно, ситуации в&nbsp;жизни бывают
            разные, но, если есть возможность подождать&nbsp;&mdash; подожди. <em>Ну&nbsp;а&nbsp;если хочешь идти&nbsp;&mdash; иди</em>
            &copy;&nbsp;Филипп Киркоров
          </div>
          <div class="card p-20 mb-10">
            Общайся с&nbsp;одногруппниками. У&nbsp;тебя с&nbsp;ними общий путь, сложный, но&nbsp;интересный. Общение поможет не&nbsp;сдаваться,
            а&nbsp;идти дальше вместе.
          </div>
          <div class="card p-20 mb-10">
            Не&nbsp;стесняйся обращаться за&nbsp;помощью. К&nbsp;одногруппникам, преподавателям или кураторам.
          </div>
          <div class="card p-20 mb-10">
            Хоть некоторые дедлайны и&nbsp;ставят на&nbsp;9&nbsp;утра, это не&nbsp;значит, что нужно кодить всю ночь. Плохой сон
            значительно снижает продуктивность на&nbsp;следующий день, в&nbsp;результате суммарный эффект от&nbsp;работы ночью почти всегда
            отрицательный. (Илья Кобелев, выпускник ШАД)
          </div>
          <div class="card p-20 mb-10">
            Задание надо читать до&nbsp;конца, лучше два раза. Умные люди пишут документацию не&nbsp;просто так:
            там часто бывают полезные, проясняющие все, примеры. Это точно сохранит вам много времени и&nbsp;даст больше понимания. (Леша
            Бухтияров, выпускник ШАД)
          </div>
          <div class="card p-20 mb-10">
            Если твое домашнее задание не&nbsp;проверяют больше 10&nbsp;дней и&nbsp;не&nbsp;реагируют на&nbsp;просьбы в&nbsp;чате/на
            почте, пожалуйста, напиши об&nbsp;этом кураторам. Не&nbsp;нужно ждать конца семестра.
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
