// Backgrounds
.grey-bg {
  background: map_get($theme-colors, "grey");
}

._light {
  background: map_get($theme-colors, "light");
}

._dark {
  background: map_get($theme-colors, "dark");
}

._transparent {
  background: transparent;
}

.text-warning {
  color: $orange;
}
