// Backgrounds
.grey-bg {
  background: map_get($theme-colors, "grey");
}

._light {
  background: map_get($theme-colors, "light");
}

.dark-bg {
  background: map_get($theme-colors, "dark");
  color: $white;
}

.text-warning {
  color: $orange;
}
