// Backgrounds
// TODO: remove underscore
._grey {
  background: map_get($theme-colors, "grey");
}

._light {
  background: map_get($theme-colors, "light");
}

._dark {
  background: map_get($theme-colors, "dark");
}

.text-warning {
  color: $orange;
}
