.sprite-img._facebook {
	&:hover {
		fill: #475993;
	}
}

.sprite-img._instagram {
	width: 24px;
	height: 24px;
	&:hover {
		fill: #DE194C;
	}
}

.sprite-img._logo-csc {
	width: 74px;
	height: 26px;
}

.sprite-img._twitter {
	&:hover {
		fill: #76A9EA;
	}
}

.sprite-img._vk {
	&:hover {
		fill: #4C75A3;
	}
}

.sprite-img._youtube {
	&:hover {
		fill: #FF0000;
	}
}

