@mixin img-height($img-height) {
  height: auto;
  @include media-breakpoint-up(sm) {
    height: #{$img-height};
    width: auto;
  }
}

.h-100 {
  @include img-height(100%);
}

.w-100 {
  width: 100%;
}

.h-150px {
  @include img-height(150px);
}

.h-200px {
  @include img-height(200px);
}

.h-250px {
  @include img-height(250px);
}

.h-300px {
  @include img-height(300px);
}

.h-400px {
  @include img-height(400px);
}
