$footer-mobile-height: 208px;
$footer-tablet-height: 144px;
$footer-height: 288px;

@mixin append-hr-to-container() {
  .container::after {
    content: "";
    margin: #{2 * spacer("4x")} 0;
    border-top: $border-width solid $border-color;
    display: block;
  }
}


html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: $footer-mobile-height;
  @include media-breakpoint-up(md) {
    margin-bottom: $footer-tablet-height;
  }
  @include media-breakpoint-up(lg) {
    margin-bottom: $footer-height;
  }
}

// Footer styles
.footer {
  overflow: hidden;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: $footer-mobile-height;
  font-size: $font-size-base;
  color: $gray-dark;
  border-top: $border-width solid $border-color;
  padding-top: spacer("10x");
  @include media-breakpoint-up(md) {
    height: $footer-tablet-height;
  }
  @include media-breakpoint-up(lg) {
    height: $footer-height;
  }

  .footer__link {
    color: $gray-dark;

    &:hover {
      color: $gray-darker;
    }
  }
}

.ui.list.footer__list {
  margin: 0 0 spacer("8x") spacer("10x");
  width: 100%;
  flex-direction: row;
  display: none;
  @include media-breakpoint-up(lg) {
    display: flex;
  }
  @include media-breakpoint-up(xl) {
    margin: 0 0 spacer("8x") 80px;
  }

  .list.ui {
    margin: 0;
  }

  > .list__item {
    margin: 0 auto;
  }

  .footer__link, .footer__title {
    padding: 0 spacer("4x") spacer("2x") 0;
    display: inline-block;
  }
}

.footer__title {
  font-size: $font-size-lg;
  color: $black;
  &:hover {
    color: $black;
  }
}

.footer__social-media-icons {
  margin: 0;

  .list__item {
    margin: 0 spacer("1x") 0 0;
    display: inline-block;

    &:last-child {
      margin: 0;
    }

    &:before {
      content: "";
    }
  }

  .sprite-img {
    fill: darken($gray-light, 10%);
    transition: $transition-base;
    width: 1.75em;
    height: 1.75em;
  }

  &:last-child {
    margin-right: 0;
  }
}

.footer__logo._full-logo {
  width: 160px;
  height: 88px;
}

.footer__logo._short-logo {
  width: 92px;
  height: 32px;
}

.footer__contacts {
  text-align: center;
  background-color: $white;
  padding: 0;
  @include media-breakpoint-up(md) {
    text-align: left;
  }
  @include media-breakpoint-up(lg) {
    padding: spacer("3x") 0;
    background-color: $dark-bg;
  }

  .footer__wrapper {
    align-items: center;
  }

  .footer__copyright, .footer__link {
    padding: 0 0 spacer("3x") 0;
    display: block;
    @include media-breakpoint-up(md) {
      padding: 0 spacer("3x") 0 0;
      display: inline-block;
    }
  }

  .footer__link {
    color: $link-color;
    @include media-breakpoint-up(lg) {
      color: $gray-dark;
    }
  }
}

.content-block {
  margin-bottom: spacer("8x");

  .figure {
    margin-bottom: spacer("6x");
  }
}